.DS_Store
node_modules
/dist
src/assets/Sass/css/
package-lock.json
/src/api/getConn_nopush.php


# local env files
.env.local
.env.*.local
.evn

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
