.clost-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 950;
}
.chatbot_container{
  max-width: 700px;
  // width: 700px;
  // padding: 0 20px;
  position: fixed;
  width: fit-content;
  width: 100%;
  top: 50%;
  right: 20%;
  transform: translate(20%, -58%);
  z-index: 951; //螢幕150%顯示的時候蓋掉上面nav
  // background-color:wheat ;
  @include rwd(lg){
    // padding-left: 30px;
    // padding-right: 30px;
    // margin: 0 30px;
  }
  @include rwd(md){
    // padding-left: 20px;
    // padding-right: 20px;
  // transform: translate(20%, -50%);
    max-width: 500px;

  }
  @include rwd(sm){
    // padding-left: 15px;
    // padding-right: 15px;
    max-width: 350px;
  }
}
.chatbot_index {
  width: 100%;
  margin: 0 auto;
  height: 500px;
  overflow: hidden;
  background: #ebebeb;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  box-shadow: 0px 0px 5px black;
  // margin-right: 30px;
  @include rwd(lg){
    // margin-right: 0px;
  }
  @include rwd('md') {
    // 平板上的樣式 md: 768px,
    // max-width: 600px;
    // margin: 0 auto;
  }
  
  @include rwd('sm'){
    // 手機上的樣式sm: 428px,
    // max-width: 350px;
    // height: 580px;
  }
  // 上面 chatTitle
  .chatTitle {
    z-index: 2;
    background: white;
    text-align: left;
    display: flex;
    align-items: center;
    height: 90px;
    justify-content: space-between;
    // outline: 1px solid red;
    img {
      width: 90px;
      height: 90px;
      object-fit: cover;
    }
    .chatTitle_text {
      // outline: 1px solid red;
      flex-grow: 1;
      p {
        font-size: 20px;
        font-weight: 500;
        margin: 0px 10px;
        color: black;
      }
      p:last-child {
        font-size: 18px;
        font-weight: 300;
        letter-spacing: 1px;
      }
    }
    .fa-xmark {
      width: 80px;
      height: 90px;
      // outline: 1px solid red;
      font-size: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  }
  // ============ 對話 ============
  .chatWindow {
    flex-grow: 1;
    // flex-shrink: 1;
    color: rgba(255, 255, 255, 0.5);
    overflow-y: scroll;
    padding: 0 5px;
    width: 100%;
    @include rwd('sm'){
      // 手機上的樣式sm: 428px,
      padding: 0px!important;
    }
    // 一開始就在上面的
    .chatWindow_message_default,
    .end-dialog {
      margin: 10px 0;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      @include rwd('sm'){
        // 手機上的樣式sm: 428px,
        font-size: 14px; 
      }
      .chatbot_message_default p,
      .chatbot_message_end p {
        background-color: white;
        color: $sec_color;
        border-radius: 10px;
        padding: 10px;
        float: left;
        // max-width: 40%;
        font-weight: 400;
        margin: 5px 0;
        @include rwd('sm'){
          // 手機上的樣式sm: 428px,
          margin: 5px 10px ;
        }
      }
      .chatbot_news_container {
        max-width: 700px;
        display: flex;
        overflow-x: scroll;
        margin-bottom: 10px;
        .chatbot_news_item {
          min-width: 180px;
          min-height: 150px;
          // background-color: $sec_color;
          background-image: linear-gradient(to top, #033159 0%, #216bac 100%);
          margin: 10px 5px;
          padding: 20px;
          border-radius: 20px;
          // box-shadow: 0px 0px 3px black;
          span {
            color: white;
            font-size: 12px; 
            text-align: left; 
            font-weight: 100;
          }
          p {
            font-weight: 500;
            font-size: 18px;
            min-height: 80px;
            @include text_overflow_many(3);
          }
          &:hover{
            cursor: pointer;
            background:$btn_hover;
          }
        }
      }
      .chatbot_news_container::-webkit-scrollbar {
      }
    }
    // 使用者與機器人對話
    .chatWindow_message {
      margin: 0 10px;
      border-radius: 10px;
      display: flow-root;
      .bot_message p,
      .user_message p {
        padding: 10px;
        border-radius: 10px;
        max-width: 80%;
        word-break: break-word;
        margin-bottom: 10px;
        font-size: 16px;
        @include rwd('sm'){
          // 手機上的樣式sm: 428px,
          font-size: 14px; 
        }
      }
      .bot_message p {
        background-color: white;
        color: $sec_color;
        float: left;
      }
      .user_message p {
        background-color: white;
        color: $four_color;
        float: right;
      }
      // 選項
      .chat-buttons{
        position: relative;
        padding: 0;
        font-size: 14px;
        list-style: none;
        clear: both;
        margin: 10px 0;
        text-align: left;
        @include rwd('sm'){
          // 手機上的樣式sm: 428px,
          font-size: 10px;
        }
        .chat-button{
          display: inline-block;
          cursor: pointer;
          margin: 1px 2px;
          background-color: $sec_color;
          padding: 10px;
          letter-spacing: 1px;
          border-radius: 10px;
          border-color: $sec_color;
          color: white;
          &:hover{
            background-color: $btn_hover;
          }
        }
      }
      // 各頁介紹
      .eachSection{
        padding: 10px 20px 20px;
        // transition: .5s ease;
        font-size: 14px;
        margin: 10px 0;
        clear: both;
        text-align: center;
        background-image: linear-gradient(to top, #033159 0%, #216bac 100%);
        border-radius: 20px;
        max-width: 420px;
        color: white;
        position: relative;
        .eachSection-title{
          font-size: 26px;
          font-weight: 700;
        }
        .eachSection-p{
          padding: 10px 10px 0;
          text-align: left;
        }
        .eachSection-more{
          position: absolute;
          right: 35px;
          bottom: 20px;
          font-size: 10px;
          font-weight: 100;
          letter-spacing: 1px;
        }
        &:hover{
          cursor: pointer;
          background:$btn_hover;
          p,span{
            color: $main_color;
          }
        }
      }
      // 4個demo體驗
      // .eachSection-demo{
      //   overflow-x: scroll;
      //   display: flex;
      //   clear: both;
      //   flex-direction: row;
      //   margin-bottom: 10px;
      //   .eachSection-demo-item{
      //     background-image: linear-gradient(to top, #033159 0%, #216bac 100%);
      //     padding: 10px 20px 20px;
      //     border-radius: 20px;
      //     margin: 10px;
      //     width: 180px;
      //     min-height: 150px;
      //     text-align: center;
      //     .eachSection-demo-item-title{
      //       font-size: 22px;
      //       font-weight: 700;
      //     }
      //     .eachSection-demo-item-p{
      //       text-align: left;
      //       padding: 10px 0;
      //       font-weight: 300;
      //     }
      //     .eachSection-demo-item-more{
      //       font-size: 10px;
      //       font-weight: 100;
      //       padding: 0;
      //     }
      //     &:hover{
      //       cursor: pointer;
      //       background:$btn_hover;
      //       p,span{
      //         color: $main_color;
      //       }
      //     }
      //   }
      // }
    }
  }
  // ============ 使用者輸入的地方 ============
  .chatInput {
    flex: 0 1 40px;
    // width: 100%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .message-input {
      background: none;
      border: none;
      outline: none !important;
      resize: none;
      color: rgba(0, 0, 0, 0.7);
      padding-left: 20px;
      width: 100%;
      font-size: 16px;
      height: 100%;
    }
    .message-submit {
      color: #fff;
      border: none;
      background-color: $four_color;
      font-size: 16px;
      padding: 6px 10px;
      margin: 10px;
      border-radius: 10px;
      outline: none !important;
      &:hover {
        background: $sec_color;
        cursor: pointer;
      }
    }
  }
}
