.clost-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.chatbot_index {
  position: fixed;
  top: 50%;
  right: 20%;
  transform: translate(20%, -50%);
  max-width: 700px;
  width: 100%;
  height: 600px;
  z-index: 2;
  overflow: hidden;
  background: #ebebeb;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  box-shadow: 0px 0px 5px black;
  // 上面 chatTitle
  .chatTitle {
    z-index: 2;
    background: white;
    text-align: left;
    display: flex;
    align-items: center;
    height: 90px;
    justify-content: space-between;
    // outline: 1px solid red;
    img {
      width: 90px;
      height: 90px;
      object-fit: cover;
    }
    .chatTitle_text {
      // outline: 1px solid red;
      flex-grow: 1;
      p {
        font-size: 20px;
        font-weight: 500;
        margin: 0px 10px;
        color: black;
      }
      p:last-child {
        font-size: 18px;
        font-weight: 300;
        letter-spacing: 1px;
      }
    }
    .fa-xmark {
      width: 80px;
      height: 90px;
      // outline: 1px solid red;
      font-size: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  // ============ 對話 ============
  .chatWindow {
    flex-grow: 1;
    // flex-shrink: 1;
    color: rgba(255, 255, 255, 0.5);
    overflow-y: scroll;
    padding: 0 5px;
    width: 100%;
    // 一開始就在上面的
    .chatWindow_message_default,
    .end-dialog {
      margin: 20px 10px 0;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      .chatbot_message_default p,
      .chatbot_message_end p {
        background-color: white;
        color: $sec_color;
        border-radius: 10px;
        padding: 10px;
        float: left;
        max-width: 40%;
        font-weight: 400;
      }
      .chatbot_news_container {
        max-width: 700px;
        display: flex;
        overflow-x: scroll;
        margin-bottom: 10px;
        .chatbot_news_item {
          min-width: 180px;
          min-height: 150px;
          // background-color: $sec_color;
          background-image: linear-gradient(to top, #033159 0%, #216bac 100%);
          margin: 10px 5px;
          padding: 20px;
          border-radius: 20px;
          // box-shadow: 0px 0px 3px black;
          span {
            color: white;
            font-size: 12px; 
            text-align: left; 
            font-weight: 100;
          }
          p {
            font-weight: 500;
            font-size: 18px;
            min-height: 80px;
            @include text_overflow_many(3);
          }
          &:hover{
            cursor: pointer;
            background:$btn_hover;
          }
        }
      }
      .chatbot_news_container::-webkit-scrollbar {
      }
    }
    // 使用者與機器人對話
    .chatWindow_message {
      margin: 0 10px;
      border-radius: 10px;
      display: flow-root;
      .bot_message p,
      .user_message p {
        padding: 10px;
        border-radius: 10px;
        max-width: 80%;
        word-break: break-word;
      }
      .bot_message p {
        background-color: white;
        color: $sec_color;
        float: left;
      }
      .user_message p {
        background-color: white;
        color: $four_color;
        float: right;
      }
      // 選項
      .chat-buttons{
        position: relative;
        padding: 0;
        font-size: 14px;
        list-style: none;
        clear: both;
        margin: 10px 0;
        text-align: left;
        .chat-button{
          display: inline-block;
          cursor: pointer;
          margin: 3px;
          background-color: $sec_color;
          padding: 10px;
          letter-spacing: 1px;
          border-radius: 10px;
          border-color: $sec_color;
          color: white;
          &:hover{
            background-color: $btn_hover;
          }
        }
      }
      // 各頁介紹
      .eachSection{
        padding: 10px 20px;
        // transition: .5s ease;
        font-size: 14px;
        list-style: none;
        margin: 10px 0;
        clear: both;
        text-align: center;
        background-image: linear-gradient(to top, #033159 0%, #216bac 100%);
        border-radius: 20px;
        max-width: 308px;
        color: white;
        .eachSection-title{
          font-size: 32px;
          font-weight: 700;
        }
        .eachSection-p{
          padding: 10px 10px 0;
          text-align: left;
        }
        &:hover{
          cursor: pointer;
          background:$btn_hover;
        }
      }
    }
  }
  // ============ 使用者輸入的地方 ============
  .chatInput {
    flex: 0 1 40px;
    // width: 100%;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .message-input {
      background: none;
      border: none;
      outline: none !important;
      resize: none;
      color: rgba(0, 0, 0, 0.7);
      padding-left: 20px;
      width: 100%;
      font-size: 16px;
      height: 100%;
    }
    .message-submit {
      color: #fff;
      border: none;
      background-color: $four_color;
      font-size: 16px;
      padding: 6px 10px;
      margin: 10px;
      border-radius: 10px;
      outline: none !important;
      &:hover {
        background: $sec_color;
        cursor: pointer;
      }
    }
  }
}
