/*------ jsgrid ------*/
#jsGrid{
    text-align: center;
    border-style: solid;
    border-color: $text_color;
    th,
    td{
        overflow : hidden;
        white-space: nowrap;
        text-overflow:ellipsis;
        border: 1px solid $text_color;
    }

    .jsgrid-pager,
    .jsgrid-pager a{
        text-decoration: none;
        color: $text_color;
    }

    .jsgrid-pager-current-page{
        text-decoration: none;
        color: $main_color;
    }
    .jsgrid-header-row{
        &>.jsgrid-header-cell{
            background: $sec_color;
            color: $text_color;
        }
    }
    .jsgrid-row,
    .jsgrid-alt-row{
        &>.jsgrid-cell{
            background: $sec_color;
            color: $text_color;
        }
    }
    .small_button{
        background: $text_color;
        color: $sec_color;

        &:hover{
            background: $title_color;
        }
    }
    // sorting 的三角形
    .jsgrid-header-sort::before {
        content: " ";
        display: block;
        float: left;
        position: relative;
        top: 10px;
        left: 20px;
        width: 0;
        height: 0;
        border-style: solid;
    }
    .jsgrid-header-sort-asc::before {
        border-width: 0 7px 7px 7px;
        border-color: transparent transparent white transparent;
    }
    .jsgrid-header-sort-desc::before {
        border-width: 7px 7px 0 7px;
        border-color: white transparent transparent transparent;
    }

}