/*------ 後台 右邊內容區塊 ------*/
.b_content{
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    padding: 50px 50px 0px 350px;
    background: $sec_color;
}
.b_content h2{
    color: $text_color;
}