footer {
  // max-width: 1920px;
  width: 100%;
  background-color: $background_color;
  text-align: center;
  .front_footer {
    padding: 60px 0;
    color: $text_color;
    .menuLink_index_footer {
      margin: 50px 0 15px 0;
    }
    p {
      margin-bottom: 0;
    }
    div:nth-child(4) {
      margin-top: 10px;
      font-weight: 200;
    }
  }
}
