.modal-mask {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    display: table;
    transition: opacity 0.3s ease;

}

    .modal-wrapper {
        display: table-cell;
        vertical-align: middle;
        // position: relative;
        
        .modal-container {
            z-index: 1001;
            position: absolute;
            width: 500px;
            left: 0;
            right: 0;
            margin: auto;
            top: 50%;
            padding: 20px 30px;
            background-color: $background_color;
            border-radius: 2px;
            box-shadow: 0 2px 8px $main_color;
            transition: all 0.3s ease;
            color: $text_color;
            border-radius: 5px;
            @include rwd('md'){
                width: 80%;
              }
            @include rwd('sm'){
                width: 90%;
                margin: 0 auto;
                padding: 20px 10px;
              }
            .userLogin_modal_body {
                margin: 20px 0 0;
            }

            .userLogin_modal_header {
                float: right;
            }

            .userLogin_modal_footer {
                justify-content: flex-start;
            }

            .modal-default-button {
                cursor: pointer;
                display: flex;
                justify-content: center;
                width: 30px;
                background-color: none;

            }

        }

    }




/*
   * The following styles are auto-applied to elements with
   * transition="modal" when their visibility is toggled
   * by Vue.js.
   */

.modal-enter-from,
.modal-leave-to {
    opacity: 0;
}

.modal-enter-active .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);

}

.hr_p08_user_login {
    border: 1px solid $main_color;
    display: block;
    width: 100%;
    margin: 0;
}

.input_p08_user_login {
//     display: block;
//     width: 100%;
    margin: 5px 0 20px;
}

input {
    font-size: 18px;
    padding: 15px 10px;
    width: 100%;
    background: white;
    height: 42px;
    border: 2px solid #ccc;
    border-radius: 5px;
    transition: border-color 300ms ease;
    box-sizing: border-box;
  
    &:focus {
      outline: none;
      border-color: $four_color;
      //border-bottom-width: 1px;
      //border-top-width: 3px;
    }
  }

.div_p08_user_loginType {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: center;

    .btn_p08_user_loginType {
        flex-grow: 1;
        flex-basis: 80px;
        margin: 15px 5px 0;
        align-items: center;
    }
}


.btn_emphasiseColor {
    background-color: $main_color;
    color: $btn_hover;
}

.div_p08_user_textCenter {
    text-align: center;
    width: 100%;
    margin: 15px 0;
    border-top: 2px dashed $sec_color;
    border-bottom: 2px dashed $sec_color;
    font-size: 14px;
    color: $title_color;
}

.a_p08_user_link {
    font-size: 14px;
    color: $title_color;
}

.lightBgm {
    background-color: $btn_hover;
}

// 以下是tab
#tabs {
    display: flex;
    justify-content: center;
}
.tab {
    display: flex;
    align-items: center;
    /* border: 1px solid #000; */
    padding: 5px 20px;
    margin-right: 3px;
    cursor: pointer;
    background-color: $sec_color;
    color: $four_color;
}
.tab.active {
    background-color: $title_color;
    color: $sec_color;
}
.tab-label {
    margin-right: 5px;
    font-weight: 700;
    
    // color: $text_color;
}
.content {
    display: none;
    /* margin-top: 10px; */
    /* border: 1px solid #000; */
    padding: 30px;
    color: $text_color;
}
.content.active {
    display: block;
}

/* 已登入狀態 */
.nofity_count{
    background-color: $warning_text;
    padding: 0 .4rem;
    margin-left: 5px;
    border-radius: 1rem;
}

.dropdown-menu-dark{
    background-color: $sec_color;
    box-shadow: 3px 2.5px 2.5px $third_color;
}