@import "../component/partial";
/** Background **/
.body_index_block {
  background-image: url("../img/index/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  /** Top Dynamic **/
  section {
    background-color: transparent;
    min-height: 90vh;
    padding-top: 10vh;
    text-align: center;
    @include rwd(sm) {
      padding-top: 0;
    }
    h2 {
      text-transform: uppercase;
      text-align: center;
      color: $text_color;
      font-family: "outfit";
      font-weight: 100;
      @include rwd(md) {
        margin-bottom: 50px;
      }
    }
    .demolink_index_btn {
      position: relative;
      display: inline-block;
      padding: 10px 50px;
      color: $main_color;
      font-size: 2rem;
      text-decoration: none;
      text-transform: uppercase;
      overflow: hidden;
      transition: 0.5s;
      margin-top: 40px;
      letter-spacing: 4px;
      margin-bottom: 100px;
      @include rwd(md) {
        padding: 10px 30px;
        font-size: 1.5rem;
      }
      &:hover {
        background: $main_color;
        color: $text_color;
        border-radius: 5px;
        box-shadow: 0 0 5px $main_color, 0 0 25px $main_color,
          0 0 50px $main_color, 0 0 100px $main_color;
      }

      span {
        position: absolute;
        display: block;
      }

      span:nth-child(1) {
        top: 0;
        left: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(90deg, transparent, $main_color);
        animation: btn-anim1 1s linear infinite;
      }

      @keyframes btn-anim1 {
        0% {
          left: -100%;
        }
        50%,
        100% {
          left: 100%;
        }
      }

      span:nth-child(2) {
        top: -100%;
        right: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(180deg, transparent, $main_color);
        animation: btn-anim2 1s linear infinite;
        animation-delay: 0.25s;
      }

      @keyframes btn-anim2 {
        0% {
          top: -100%;
        }
        50%,
        100% {
          top: 100%;
        }
      }

      span:nth-child(3) {
        bottom: 0;
        right: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(270deg, transparent, $main_color);
        animation: btn-anim3 1s linear infinite;
        animation-delay: 0.5s;
      }

      @keyframes btn-anim3 {
        0% {
          right: -100%;
        }
        50%,
        100% {
          right: 100%;
        }
      }

      span:nth-child(4) {
        bottom: -100%;
        left: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(360deg, transparent, $main_color);
        animation: btn-anim4 1s linear infinite;
        animation-delay: 0.75s;
      }

      @keyframes btn-anim4 {
        0% {
          bottom: -100%;
        }
        50%,
        100% {
          bottom: 100%;
        }
      }
    }

    .fixed_index_btn {
      position: fixed;
      right: 0;
      bottom: 0;
      z-index: 900;
      div {
        position: relative;
        button {
          position: absolute;
          right: 30px;
          bottom: 5px;
        }
      }
    }
  }

  /** Main Block **/
  main {
    margin: 0 auto;
    max-width: $w1200;
    .article_index_block,
    .news_index_block,
    .youtube_index_block {
      text-align: center;
      margin-bottom: 100px;
      h1 {
        color: $title_color;
        @include rwd(lg) {
          line-height: 1.5;
        }
        @include rwd(md) {
          font-size: 2rem;
        }
        @include rwd(sm) {
          font-size: 1.5rem;
        }
      }

      hr {
        display: inline-block;
        width: 50%;
        margin: 0 auto;
        height: 2px;
        background-image: linear-gradient(
          to right,
          #ffffff00,
          #ffffff,
          #ffffff00
        );
        box-shadow: 2px 4px 4px #fbd1ff40;
        border: none;
        position: relative;
      }
    }

    .article_index_block {
      padding: 0 100px;
      @include rwd(lg) {
        padding: 0 50px;
      }
      @include rwd(sm) {
        padding: 0 10px;
      }
      margin-bottom: 120px;
      ul {
        @include indexGrid(2);
        @include rwd(md) {
          @include indexGrid(1);
        }
        @include rwd(sm) {
          padding: 0 10px;
        }
        li {
          box-sizing: border-box;
          width: 100%;
          border: 2px solid $text_color;
          padding: 40px 30px;
          border-radius: 10px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: left;
          svg {
            width: 50px;
          }
          .title_index_article {
            @include fontT26_index_article();
            @include rwd(sm) {
              font-size: 1.2rem;
              text-align: center;
            }
          }
          .fontP18_index_article {
            @include fontP18_index_article();
            @include rwd(sm) {
              font-size: 1rem;
            }
          }
          p {
            @include rwd(sm) {
              font-size: 1rem;
            }
          }
        }
      }
    }
    .news_index_block {
      margin-bottom: 120px;
    }
    .news_index_block,
    .youtube_index_block {
      padding: 0 50px;
      @include rwd(sm) {
        padding: 0 10px;
      }
      ul {
        @include indexGrid(3);
        @include rwd(md) {
          @include indexGrid(1);
        }
        .card_index_block {
          width: 100%;
          border-radius: 10px;
          figure {
            width: 100%;
            overflow: hidden;
            text-align: left;
            img {
              display: block;
              width: 100%;
              height: 190px;
              object-fit: cover;
              border-radius: 5px;
              box-shadow: 0px 0px 20px $sec_color;
            }
            figcaption {
              display: inline-block;
              margin-top: 20px;
              @include btnStyle(31px, 0.875rem, 4px 8px);
            }
          }
          .text-block {
            &:after {
              content: "more";
              color: $text_color;
              margin: 2px 15px;
              display: block;
              line-height: 25px;
              float: right;
              transition: all 0.3s ease;
              opacity: 0.5;
              letter-spacing: 0;
            }

            &:hover:after {
              content: "more";
              display: block;
              line-height: 25px;
              opacity: 1;
              color: $four_color;
              letter-spacing: 2px;
            }
            .title_index_article {
              height: 80px;
              @include fontT26_index_article();
              @include rwd(md) {
                font-size: 1.3rem;
              }
              @include rwd(sm) {
                font-size: 1.2rem;
                text-align: center;
              }
            }

            .paragraph_index_article {
              @include fontP14_index_article();
              @include text_overflow_many(3);
            }

            .date_index_article {
              font-family: "Outfit";
              color: $text_color;
              text-align: left;
            }
          }
        }
        .vedioYT_index_block {
          position: relative;
          width: 100%;
          height: 0;
          padding-bottom: 56.25%;
          z-index: 1;
          iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
          }
        }
        p {
          margin-top: 20px;
          text-align: center;
        }
      }
      a {
        background: $title_color;
        color: $third_color;
        @include rwd(md) {
          font-size: 1rem;
        }
      }
    }
  }
}
