.p02_teach{
    background-color: $background_color;
.banner_teachFrame {
    height: 235px;
    background-image: url("../img/p02_teach/teachTop.jpg");
    background-position: center bottom;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .banner_teachtitle {
        color: $text_color;
        padding-bottom: 10px;
        border-bottom: 3px solid $text_color;
        position: relative;

        .banner_teachtitle_en {
            position: absolute;
            font-weight: 700;
            top:50%;
            left: 50%;
            transform: translate(-50%, -77%);
            font-size: 100px;
            color: rgba($color: #000000, $alpha: 0);
            -webkit-text-stroke: 0.5px #efe4d1;
            text-stroke: 0.5px #efe4d1;
        }
    }
    }
    // 以下是選單
    select{
        display: none;
        @include rwd('md') {
            display: none;
            height: 42px;
            width: 100%;
        }

        @include rwd('sm') {
            width: 100%;
            flex-wrap: wrap;
        }
    }
// 以下是tab
    #tabs {
        display: flex;
        justify-content: center;
        text-align: center;
        
        @include rwd('md') {
            flex-wrap: wrap;
        }
    }
    .tab {
        display: flex;
        align-items: center;
        /* border: 1px solid #000; */
        padding: 5px 20px;
        margin-right: 3px;
        cursor: pointer;
        background-color: $sec_color;
        color: $four_color;

        @include rwd('md') {
            flex-basis: 1;
            flex-shrink: 0;
            width: 30%;
            font-size: 1rem;
            margin-top: 5px;
            justify-content: center;
        }
        @include rwd('sm') {
            width: 45%;
        }
    }
    .tab.active {
        background-color: $title_color;
        color: $sec_color;
    }
    .tab-label {
        margin-right: 5px;
        font-weight: 700;
        padding-top: 6px;
        // color: $text_color;
        @include rwd('md') {
            font-size: 1rem;
        }
    }
    .content {
        display: none;
        /* margin-top: 10px; */
        /* border: 1px solid #000; */
        padding: 30px;
        color: $text_color;
    }
    .content.active {
        display: block;
    }
// 以下是內容
    .div_wrapper {
        max-width: 1200px;
        margin: 0 auto;
        @include rwd('md') {
        width: 100%;
        }
    }
    .div_p02_teach_title {
        display: flex;
        justify-content: center;
        margin: 40px 0;
    }
    
    .div_p02_teach_content {
        display: flex;

        margin-bottom: 70px;
        @include rwd('md') {
            flex-wrap: wrap;
            width: 100%;
            }
    }
    
    .div_p02_teach_contentLeft {

        margin: 0 50px;
        @include rwd('md') {
            width: 100%;
            }
        
    }
    
    .div_p02_teach_contentRight {
        box-sizing: border-box;
        padding:  0 25px;
        @include rwd('md') {
            width: 100%;
            padding: 0;
            margin-top: 15px;
            }
    }
    
    .div_p02_teach_method {
        display: flex;
        justify-content: space-between;
        .div_p02_teach_step::before {
            content: ' ';
            display: inline-block;
            width: 40px;
            border-top: 3px solid $text_color;

        }
        
        .div_p02_teach_step {
            width: 20%;
            font-size: 1.2rem;
        }
        
        .div_p02_teach_stepText {
            width: 75%;
        }
    }
    
    .underline {
        border-bottom: 1px solid $text_color;
        padding-bottom: 10px;
        margin-bottom: 20px;
    }
    
    .span_underline {
        border-bottom: 5px solid $text_color;
        padding-bottom: 5px;
    }
    
    .div_p02_teach_contentImg {
        overflow: hidden;
        margin-right: 50px;
        @include rwd('md') {
            margin-right: 0 ;
            height: auto;
            width: 100%;
            }
        img{
            width: 100%;
        }

    }

    /* 防範之道 */
    .div_p02_teach_prevent {
        display: flex;
        justify-content: center;
        @include rwd('md') {
            flex-direction: column;
            }
        .div_p02_teach_preventBox {
            padding: 40px;
            background-color: $four_color;
            flex-basis: 1;
            flex-grow: 0;
            flex-shrink: 1;
            // border-bottom: 1px solid $text_color;
            @include rwd('md') {
                width: 95%;
                margin: 0 auto;
                height: auto;
                
                }
        }
        .div_p02_teach_preventBox:nth-child(2n){
            background-color: #0F98CE;
        }
    }
    

    /* 相關影音 */
    .div_p02_teach_vedio{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        @include rwd('md') {
            justify-content: flex-start;}
        .div_p02_teach_vedioBox{
            // width: 30%;
            height: 200px;
            margin: 15px 0;
            @include rwd('md') {
                flex-basis: 1;
                flex-shrink: 0;
                // width: 80%;
                height: 250px;
                font-size: 1rem;
                justify-content: center;
            }
            @include rwd('sm') {
                // width: 100%;
            }
        }
    }

}