@include rwd('sm'){
    // 手機上的樣式 sm: 428px,
}

@include rwd('md') {
    
}

@include rwd('lg'){
// 電腦上的樣式lg: 1200px
}

.p03_reportUrl{
    background-image: url("../img/p03_reportURL/url_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
       
    @include rwd('lg'){
        // 電腦上的樣式lg: 1200px
        padding: 0 30px;
    }
    
    @include rwd('md') {
        padding: 0 20px;

    }
    @include rwd('sm'){
        padding: 0 15px;

    }
    // 上面的區塊
    .sectionTop_p03_reportUrl{
        max-width: 1000px;
        margin: 0px auto;
        // padding: 20px 30px 0;
        text-align: left;
        h1{
            margin: 50px auto;
            color: $title_color;
            text-align: center;
            @include rwd('sm'){
                // 手機上的樣式 sm: 428px,
                font-size: 30px;
              }
        }
    }
    /* ======== 輸入form表單 ======== */
    .form_p03_reportURL{
        // outline: 1px solid red;
        max-width: 590px;
        margin: 60px auto;
        border-radius: 20px;
        text-align: center;
        background-color: $background_color;
        color: $text_color;
        padding: 40px 0;
        // border: 1px solid $bannerFont_color;
        box-shadow: 0px 0px 20px white;
        h6{
            padding: 20px 0 20px;
        }
        p{
            line-height: 2rem;
        }
        .phonesizeText{
            display: none;
        }
        @include rwd('md'){
            // 平板上的樣式 768px,
            max-width: 500px;
            
        }
        @include  rwd('sm'){
            // 手機上的樣式 428px,
            max-width: 350px;
            .websizeText{
                display: none;
            }
            .phonesizeText{
                display: block;
            }
        }
      
        /* ======== 有登入才顯示會員 ======== */
        .user_p03_reportURL{
            // outline: 1px solid red;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            text-align: left;
            margin: 30px 0;
            .userImg{
                border: 1px solid $bannerFont_color;
                width: 80px;
                height: 80px;
                border-radius: 50%;
                overflow: hidden;
                background-color: $text_color;
                margin-right: 10px;
                box-shadow: 0px 0px 10px white;
                img{
                    width: 100%;
                    object-fit: cover;
                }
            }
            .userInfo{
                margin-left: 10px;
            }
        }
        /* 輸入資料 */
        .formInput_p03_reportURL{
            max-width: 450px;
            margin: 0 auto;
            text-align: left;
            position: relative;
            /* 已通報過的網址跳警告 */
            .fa-circle-xmark{
                position: absolute;
                right: 10px;
                top: 45px;
                color: $warning_text;
                font-size: 20px;
            }
            p{
                color: $warning_text;
                margin: 0 0 5px;
                font-weight: 500;
            }
            .input_p03{
                width: 100%;
                padding: 10px;
                box-sizing: border-box;
                margin: 10px 0;
                height: 42px;
                border-radius: 5px
            }
            textarea{
                min-height: 100px;
            }
            .inputSubmit_p03{
                margin: 20px auto;
                width: 100%;
                &:disabled{
                    background-color: lightgray;
                    cursor: not-allowed;
                    color: gray;
                }
            }
            @include  rwd('md'){
                // 平板上的樣式 768px,
                max-width: 400px;
            }
            @include rwd('sm'){
                // 手機上的樣式 428px,
                max-width: 300px;
            }
        }
    }
}


/* ======== 已通報的可疑網站列表，掛外掛要拿 ======== */
.urlList_p03_reportURL{
    margin: 100px auto;
    text-align: center;
    // outline: 1px solid red;
    // padding: 0 30px;
    padding-bottom: 100px;
    max-width: 1000px;
    h2{
        color: $text_color;
        margin: 20px 0 ;
        @include  rwd('sm'){
            // 手機上的樣式 428px,
            font-size: 22px;
            letter-spacing: 0.3rem;
        }
    }   
    .input_p03_searchBar {
        margin: 0px auto 20px;
        border-radius: 5px;
        max-width: 500px;
        i {
            color: $sec_color;
        }
        .icon {
            padding: 6px 12px 0;
            background-color: $four_color;
            cursor: pointer;
            border-radius: 5px;
        }
    }
    // js grid
    #jsGrid{
        border:0px;
        .jsgrid-grid-header,
        .jsgrid-grid-body {
            overflow-y: hidden;
        }
        // 三角形位置
        .jsgrid-header-sortable::before{
            top: 10px;
            left: 20px;
            @include rwd('md'){
                // 平板上的樣式 768px,
                top: 10px;
                left: 5px;
            }
        }
    }
    
    @include  rwd('sm'){
        // 手機上的樣式 428px,
        #jsGrid{
            // max-width: 350px;
            .jsgrid-grid-header {
                display: none;
            }
            .jsgrid-table tbody{
                border: 0;
            }
            .jsgrid-grid-body {
                box-shadow: 0px 0px 10px white;
            }
            .jsgrid-grid-body
            table tr{
                display: flex;
                flex-direction: column;
                margin-bottom: .625em;
                border-top: 1px solid white;
                padding: 10px;
            }
            table tr:first-child{
                border: 0;
            }
            table .jsgrid-cell{
                border: 0px;
                display: block;
                min-width: 100%;
                text-align: left;
                padding: 5px 30px;
            }
            table .jsgrid-cell:nth-child(2):before {
                font-family: "Font Awesome 5 Free"; 
                content: "\f133  日期";
                color: $title_color;
                letter-spacing: .2rem;
                font-weight:900;
                padding-right: 5px;
            }
            table .jsgrid-cell:nth-child(3):before {
                font-family: "Font Awesome 5 Free"; 
                content: "\f274  狀態";
                letter-spacing: .2rem;
                color: $title_color;
                font-weight:900;
                padding-right: 5px;
            }
            table .jsgrid-cell:nth-child(4):before {
                font-family: "Font Awesome 5 Free"; 
                content: "\f0ac  網站";
                letter-spacing: .2rem;
                color: $title_color;
                font-weight:900;
                padding-right: 5px;
            }
            table .jsgrid-cell:nth-child(5):before {
                font-family: "Font Awesome 5 Free"; 
                content: "\f0c1  網址";
                letter-spacing: .2rem;
                color: $title_color;
                padding-right: 5px;
                font-weight:900;
            }
        }
    }
    /* 手刻 */
    table {
        border: 1px solid white;
        border-radius: 10px;
        box-sizing: border-box;
        width: 100%;
        color: $text_color;
        background-color: $sec_color;
        box-shadow: 0px 0px 5px white;
        thead {
            text-align: center;
            th {
                padding: 10px;
                border-left: 1px solid white;
            }
        }
        tbody td {
            border-left: 1px solid white;
            border-top: 1px solid white;
            padding: 10px;
        }
    }
    .pages{
        color: $text_color;
        padding: 40px 0;
    }
}