.body_p05_faq_block {
  background-image: url("../img/p05_faq/bg_p05_faq.png");
  h1 {
    color: $text_color;
    text-align: center;
    letter-spacing: 2rem;
    padding: 100px;
  }
  main {
    margin: 0 auto;
    max-width: $w1200;
    label {
      display: block;
      height: 42px;
      position: relative;
      i {
        color: $sec_color;
        position: absolute;
        font-size: 1.5rem;
        left: 25%;
        z-index: 2;
        padding: 8px;
        @include rwd(sm) {
          left: 5%;
        }
      }
      input {
        position: absolute;
        left: 25%;
        height: 42px;
        width: 50%;
        z-index: 1;
        padding: 10px 10px 10px 40px;
        border-radius: 5px;
        border: none;
        outline: 0;
        &focus {
          box-shadow: 2px 2px 5px $text_color;
        }
        @include rwd(sm) {
          width: 90%;
          left: 5%;
        }
      }
    }
    .question_p05_faq_block {
      ul {
        margin: 0 auto;
        @include indexGrid(2);
        row-gap: 10px;
        @include rwd(lg) {
          @include indexGrid(1);
          padding: 0 50px;
        }
        @include rwd(md) {
          // @include indexGrid(1);
          display: block;
          padding: 0 30px;
        }
        @include rwd(sm) {
          // @include indexGrid(1);
          display: block;
          padding: 0 10px;
        }
        li {
          list-style: none;
          box-sizing: border-box;
          background-color: $title_color;
          color: $sec_color;
          padding: 20px;
          border-radius: 10px;
          margin-bottom: 10px;
          @include rwd(md) {
            padding: 15px;
            border-radius: 5px;
          }
          h6 {
            display: flex;
            justify-content: space-between;
          }
          div {
            color: $sec_color;
            div {
              text-align: justify;
              a {
                color: $sec_color;
              }
              @include rwd(md) {
                color: $sec_color;
              }
              @include rwd(sm) {
                color: $sec_color;
              }
            }
          }
        }
      }
    }
  }
}
