.body_p05_faq_block {
  background-image: url("../img/p05_faq/bg_p05_faq.png");
  background-repeat: no-repeat;
  background-position: top;
  h1 {
    color: $text_color;
    text-align: center;
    letter-spacing: 2rem;
    padding: 100px;
    @include rwd(sm) {
      padding: 50px 10px;
    }
  }
  main {
    margin: 0 auto;
    max-width: $w1200;
    label {
      display: block;
      height: 42px;
      position: relative;
      i {
        color: $sec_color;
        position: absolute;
        font-size: 1.5rem;
        right: 25%;
        z-index: 2;
        padding: 8px;
        @include rwd(sm) {
          right: 5%;
        }
      }
      input {
        position: absolute;
        left: 25%;
        height: 42px;
        width: 50%;
        z-index: 1;
        padding: 10px;
        border-radius: 5px;
        border: none;
        outline: 0;
        &focus {
          box-shadow: 2px 2px 5px $text_color;
        }
        @include rwd(sm) {
          width: 90%;
          left: 5%;
        }
      }
    }
    .question_p05_faq_block {
      @include rwd(lg) {
        padding: 0 30px;
      }
      @include rwd(md) {
        padding: 0 20px;
      }
      @include rwd(sm) {
        padding: 0 15px;
      }
      ul {
        // position: relative;
        padding: 0;
        margin: 30px 0 0;
        .open {
          i {
            transform: rotate(-180deg);
          }
          .content_p05_faq_qusetion {
            opacity: 1;
            max-height: 10rem;
            transition: all 200ms linear;
          }
        }
        li {
          margin: 20px 0 0;
          @include rwd(md) {
            margin: 10px 0 0;
          }
          &:first-child {
            margin-top: 0;
          }
          .title_p05_faq_qusetion {
            position: relative;
            margin: 0;
            padding: 20px 20px 20px 60px;
            font-weight: bold;
            background: $title_color;
            cursor: pointer;
            @include rwd(md) {
              padding: 16px 16px 16px 50px;
              font-size: 14px;
            }

            &::before {
              font-size: 22px;
              line-height: 1;
              position: absolute;
              top: 20px;
              left: 20px;
              display: block;
              content: "Q.";
              color: $sec_color;
              @include rwd(md) {
                font-size: 14px;
                top: 20px;
                left: 20px;
              }
            }
            i {
              color: $third_color;
              position: absolute;
              right: 20px;
              top: calc(50% - 8px);
              @include rwd(md) {
                display: none;
              }
            }
          }
          .content_p05_faq_qusetion {
            position: relative;
            margin: 0;
            padding: 20px 20px 20px 60px;
            text-align: justify;
            opacity: 0;
            max-height: 0;
            overflow: hidden;
            transition: opacity 200ms linear, max-height 200ms linear;
            @include rwd(md) {
              margin: 0;
              padding: 16px 16px 16px 50px;
              font-size: 14px;
            }
            &::before {
              font-size: 22px;
              line-height: 1;
              position: absolute;
              left: 20px;
              display: block;
              content: "A.";
              font-weight: bold;
              color: $bannerFont_color;
              @include rwd(md) {
                font-size: 14px;
                left: 20px;
                margin-top: 5px;
              }
            }
            p {
              margin: 30px 0 0;
              &:first-child {
                margin-top: 0;
              }
            }
            span {
              color: $text_color;
            }
          }
        }
      }
    }
  }
}
