.modal-wrapper .modal-container{
    // top: 5%; // 彈窗登入 讓他靠上
}
.wrapper_p06_discuss_content{
    width: $w1200;
    margin: 25px auto;
    box-sizing: border-box;
    color: $text_color;

    @include rwd('lg'){
        width: calc(100% - 60px);
        margin: 25px 30px 0;
    }
    @include rwd('md'){
        width: calc(100% - 40px);
        margin: 25px 20px 0;
    }
    @include rwd('sm'){
        width: calc(100% - 30px);
        margin: 25px 15px 0;
    }

    .fa-solid{
        margin-right: 5px;
    }
    .breadcrumb-list{
        display: flex;
        list-style: none;
        padding: 0px;
        margin: 0px;
        margin-bottom: 5px;
        
        li{
            color: $main_color;

            &:not(:last-child)::after{
                content: '/';
                margin: 0 10px;
            }

            &:last-child{
                color: #ccc;
            }
        }
        @include rwd('sm'){
            display: none;
        }
    }

    .articleBlock_p06_discuss_content{
        border: 1px solid $text_color;
        padding: 50px 100px;
        position: relative;
        @include rwd('md'){
            height: 600px;
            overflow: auto;
            padding: 15px 20px;
        }

        .topBlock_p06_discuss{
            display: flex;
            justify-content: space-between;

            .pic_p06_discuss{
                width: 32px;
                height: 32px;
                border-radius: 50%;
                overflow: hidden;
                margin-right: 5px;
            }

            .ellipsisBtn{
                width: 32px;
                height: 32px;
                background: transparent;
                border: none;
                outline: none;
                color: $text_color;

                &:hover{
                    color: $main_color;
                }
            }
            .ellipsisList{
                position: absolute;
                // position: relative;
                right: 100px;
                top: 80px;
                background: #fff;
                color: $background_color;
                @include rwd(md){
                    right: 35px;
                    top: 50px;       
                }
                ul{
                    margin: 0px;
                    padding: 0px;
                    list-style: none;
                    li{
                        padding: 10px 20px;
                        cursor: pointer;
                        &:hover{
                            background-color: $main_color;
                        }
                        
                    }
                }
                .p06_shareButton{
                    position: absolute;
                    top: 100px;
                    right: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    
                    .p06_shareBtn{
                        margin: -3px 0;
                        opacity: 0;
                        transition: all .3s ease-in-out;
                        i{
                            color: $text_color;
                            font-size: 36px;
                            &:hover{
                                color: $main_color;
                            }
                            @include rwd(lg){
                                font-size: 36px;
                            }
                        }
                        &:nth-child(2){
                            i{
                                font-size: 32px;
                                @include rwd(lg){
                                    font-size: 31.5px;
                                }
                            }
                        }
                    }
                }
                .hover{
                    .p06_shareBtn{
                        opacity: 1;
                        margin: 5px 0;
                        @include rwd(lg){
                            // margin: 4px 0;
                        }
                        @include rwd(md){
                            // margin: 5px 0;
                        }
                        @include rwd(sm){
                            // margin: 5px 0;
                        }
                        i{
                            border-radius: 50px;
                        }
                    }
                }
            }
        }

        h2{
            margin-top: 50px;
            color: $title_color;
            @include rwd('md'){
                @include fontStyle(400, 1.375rem, 1.65rem, 0.2rem, 0px);
            }
            @include rwd('sm'){
                @include fontStyle(300, 1rem, 1.5rem, 0.2rem);
                text-align: center;
                margin-top: 20px;
            }
        }

        .articleInformation_p06_discuss{
            margin-top: 10px;
            color: #ccc;
            display: flex;
            justify-content: space-between;
            align-items: center;

            @include rwd('sm'){
                flex-wrap: wrap;
                justify-content: center;
                row-gap: 10px;
                column-gap: 20px;
            }

            .tag{
                color: $title_color;
            }
            @include rwd('md'){
                margin-top: 10px;
                span{
                    font-size: 0.9rem ; 
                }
            }
            @include rwd('sm'){
                margin-top: 5px;
                span{
                    font-size: 0.8rem ; 
                }
            }
            button{
                &:not(:last-of-type){
                    margin-right: 25px;
                }
            }
        }

        .articleContent_p06_discuss{
            margin-top: 50px;
            @include rwd('sm'){
                margin-top: 20px;
            }
        }
    }

    .articleMessage_p06_discuss{
        margin-top: 80px;
        @include rwd('md'){
            margin-top: 50px;
        }
        @include rwd('sm'){
            margin-top: 30px;
        }
        .topBlock_p06_discuss{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 15px;
            border-bottom: 1px solid $text_color;

            h3{
                color: $title_color;
                @include fontStyle(400, 1.375rem, 1.65rem, 0.2rem, 0px);
                @include rwd('md'){
                    @include fontStyle(400, 1.375rem, 1.65rem, 0.2rem, 0px);
                }
                @include rwd('sm'){
                    @include fontStyle(300, 1rem, 1.5rem, 0.2rem);
                }
            }
        }
        .messageMain{
            margin-top: 25px;
            padding: 0 80px;
            @include rwd('md'){
                padding: 0 15px;
            }
            ul{
                list-style: none;
                padding: 0px;
                display: flex;
                
                li{
                    margin-right: 25px;
                    
                    span {
                        @include rwd('sm'){
                            font-size: 14px;
                        }
                    }
                }
            }
            .switch{
                display: flex;
                align-items: center;
                cursor: pointer;
    
                .solidLine{
                    width: 100px;
                    height: 1px;
                    background: $text_color;
                    margin-right: 15px;
                }
    
                span {
                    @include rwd('sm'){
                        font-size: 14px;
                    }
                }
            }
        }
        .messageList{
            margin: 0 auto;
            width: 80%;
            padding: 15px 0px;
            border-bottom: 1px solid $text_color;
            @include rwd('md'){
                width: 90%;
            }
            img{
                width: 32px;
                height: 32px;
                border-radius: 50%;
                overflow: hidden;
                margin-right: 5px;
            }
            .topBlock{
                display: flex;
                align-items: center;
                .action{
                    list-style: none;
                    margin: 0px;
                    margin-left: auto;
                    padding: 0px;
                    display: flex;
                    align-items: center;
                    li{
                        padding: 10px;
                        @include rwd('sm'){
                            padding: 5px;
                        }
                        span {
                            @include rwd('sm'){
                                font-size: 14px;
                            }
                        }
                        &:last-child{
                            position: relative;
                        }
                        .messageReport{
                            background-color: $text_color;
                            color: $background_color;
                            padding: 5px 10px;
                            font-size: 18px;
                            position: absolute;
                            white-space: nowrap;
                            top: 45px;
                            right: 20px;
                            &:hover{
                                background-color: $main_color;
                            }
                            &:focus{
                                background-color: $main_color;
                            }
                        }
                    }
                }
            }
            .reply{
                padding: 10px 0px 25px 80px;
                @include rwd('sm'){
                    padding: 10px 0px 15px 22px;
                }
                .messageItems{
                    list-style: none;
                    padding: 0px;
                    margin: 0px;
                    padding-top: 25px;
                }
            }
        }
    }
    .pagination{
        margin-top: 25px;
        margin-bottom: 0px;
        .pagination-dark{
            background-color: $background_color;
            color: $text_color;
        }
    }
}
.modal_textarea_p06{
    width: 100%;
    height: 200px;
    padding:10px;
    resize:none;
    @include rwd('sm'){
        height: 100px;
    }
}