.wrapper_p06_discuss{
    width: $w1200;
    margin: 50px auto;
    box-sizing: border-box;
    .breadcrumb-list{
        display: flex;
        list-style: none;
        padding: 0px;
        margin: 0px;
        
        li{
            &::after{
                content: '/';
            }
        }
    }
    .titleBlock{
        display: flex;
        margin-top: 50px;

        h2{
            color: $text_color;
        }

        button{
            margin-left: auto;
        }
    }
    .tab_p01_newsChoose {
        width: 100%;
        margin: 10px auto;
        padding-left: 2rem;
        color: $text_color;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $text_color;
        
        .tab_p01_news_category {
            padding: 10px 0;

            select {
                display: none;
            }
    
            .wide_tab {

                a {
                    padding: 0 5px;
                    text-decoration: none;
                    color: $text_color;
    
                    &:not(.current):hover {
                        color: $main_color;
                    }
                }
    
                .currentTab {
                    padding-bottom: 15px;
                    border-bottom: 5px solid $text_color;
                }
            }
    
        }
    
        .input_p01_news_searchBar {
            display: flex;
            padding: 10px 0;
            box-sizing: border-box;
    
            input {
                padding: 5px 10px;
                border-radius: 5px 0 0 5px;
                border: none;
            }
    
            .icon {
                padding: 4px 10px 0;
                background-color: $four_color;
                cursor: pointer;
                // border: 1px solid $background_color;
                border-radius: 0 5px 5px 0;
            }
        }
    }
    section{
        color: $text_color;
        display: block;
        margin: 0 auto;
        width: 900px;
        padding: 25px 0;
        border-bottom: 1px solid $title_color;

        &:not(:first-of-type){
            padding: 50px 0 25px;
        }
        .topBlock_p06_discuss{
            display: flex;
            justify-content: space-between;

            .pic_p06_discuss{
                width: 32px;
                height: 32px;
                border-radius: 50%;
                overflow: hidden;
                margin-right: 5px;
            }

            .ellipsisBtn{
                width: 32px;
                height: 32px;
                background: transparent;
                border: none;
                outline: none;
                color: $text_color;

                &:hover{
                    color: $main_color;
                }
            }
        }

        .articleBlock_p06_discuss{
            display: grid;
            grid-template-columns: 5fr 1fr;
            column-gap: 50px;
            justify-content: space-between;
            margin-top: 25px;

            .articleText_p06_discuss{
                overflow: hidden;

                h3{
                    color: $title_color;
                }

                .articleInformation_p06_discuss{
                    margin-top: 10px;
                    color: #ccc;

                    .tag{
                        color: $title_color;
                    }
                }

                .articleContent{
                    margin-top: 20px;
                    overflow : hidden;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp:2;
                }

                .articleInteractive{
                    display: flex;
                    list-style: none;
                    padding: 0px;
                    margin: 20px 0px 0px;

                    li{
                        margin-right: 40px;

                        i{
                            font-size: 16px;
                        }

                        &:last-child{
                            margin-left: auto;
                            margin-right: 0px;
                        }
                    }
                }
            }

            .articleImage_p06_discuss{
                width: 160px;
                height: 105px;
                overflow: hidden;
                align-self: center;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
    .pagination{
        margin-top: 50px;

        .pagination-dark{
            background-color: $background_color;
            // border: none;
            color: $text_color;
            margin-bottom: 50px;
        }
    }
}