@include rwd('lg'){
  // 電腦上的樣式
}

@include rwd('md') {
  // 平板上的樣式
}

@include rwd('sm'){
  // 手機上的樣式
}
 

.demo h1{
  color:white;
}
 
 
 /* 測驗首頁頁面 */

 .game_index {
    background-color: $background_color;
    font-family: 'Noto Sans TC','Outfit', sans-serif;
    background-image: url('../img/p07_demo/p07_demoGame/demo_bg.png');
    // background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 50px;
    
   
  
    
    //  題目整體背板
  
      .quiz_index {
        margin: 0 auto;
        width: 900px;
        // height: 90%;
        background: transparent;
        padding-top: 50px;
        position: relative;
        padding-left: 60px;
        border: 5px solid #13e5f2;
        border-radius: 3px;
        box-shadow: 0 3px 30px 0 #7febf1;
        animation: neon 1.5s ease-in-out infinite alternate;

        @keyframes neon {
          0%,
          100% {
            box-shadow: 0 0 20px #7febf1, 0 0 60px #7febf1, 0 0 20px #7febf1;
          }
          50% {
            box-shadow: 0 0 40px #7febf1, 0 0 80px #7febf1, 0 0 40px #7febf1;
          }
        }
        

        @include rwd('lg'){
          width:90%;
          margin: 0 auto;
          border: 5px solid $main_color;
          background: transparent;
          padding-top: 50px;
          position: relative;
          padding-left: 60px;
         
        }

        @include rwd('md'){
          width: 90%;
          padding-left: 30px;
        }
        @include rwd('sm'){
          width: 90%;
          padding-left:20px;
        }

  
  
        
  
        //標題
  
          .index_title {
            // border: 10px solid $main_color;
            
            
            
        
            h1 {
                color:$text_color;
                margin-top:60px;
                margin-bottom: 60px;
                line-height: 50px;
                font-size: 60px;
                @include rwd('md'){
                  font-size:50px;
                  line-height: 60px;
                  margin-top: 0px;
                  margin-bottom: 20px;
                }
                @include rwd('sm'){
                  margin-top: 0px;
                  font-size:30px;
                  margin-bottom: 30px;
                }
              }
  
        
          }

          .index_quiz_summary{
            
          margin-right: 50px;
          border: 3px solid $main_color;
          height: 205px;
          
          @include rwd('lg'){
            max-width: 90%;
            margin-right: 50px;
            border: 3px solid $main_color;
            
          }
          @include rwd('md') {
            width:90%;
            height: 300px;
          }
          @include rwd('sm'){
           width: 90%;
           height: 420px;
           
          }

          .m{
            width: 100px;
            /* border:1px solid white; */
            height: 200px;
            background: linear-gradient(45deg, rgba(19, 229, 242, 1) 25%, transparent 25%, transparent 75%, rgba(19, 229, 242, 1) 75%, rgba(19, 229, 242, 1) 100%), linear-gradient(45deg, rgba(19, 229, 242, 1) 25%, transparent 25%, transparent 75%, rgba(19, 229, 242, 1) 75%, rgba(19, 229, 242, 1) 100%);
            background-position: 0 0, 50px 10px;
            background-size: 20px 20px;

            @include rwd('md') {
            width: 0;
            height: 0;
            }
            @include rwd('sm'){
             width: 0;
             height: 0;
            }

          }

          p{
            
            margin-right: 20px;
            margin-left: 120px;
            color:$text_color;
            // padding-top: 5px;
            line-height: 2.0rem;
            margin-top: -190px;
            padding-bottom: 50px;
           
            
            @include rwd('lg'){
              max-width: 550px;
              margin-left: 120px;
              color: $text_color;
              padding-top: 15px;
              line-height: 2.0rem;
              margin-top: -190px;
            }

            @include rwd('md') {
              margin-top: 10px;
              font-size: 1rem;
              margin-left: 20px;
              padding-top: 10px;
            }
            @include rwd('sm'){
             
              margin-left: 0;
              font-size: 1rem;
              margin-left: 20px;
            }
          }

          }
  
          
  
          
  
  
          //開始按鈕
  
          .star {
            margin: 70px 0 50px 300px;
            width: 180px;
            height: 50px;
            position: relative;
            
            &:hover{
              transform: translateY(-2px);
              animation: light-border 1.5s infinite;

              @keyframes light-border{
                0%{
                  box-shadow: 0 0 0 0 rgba(19, 229, 242, 0.4);
                }
      
                100% {
                  box-shadow: 0 0 0 25px rgba(19, 229, 242, 0);
                }
      
              }
            }
            
            
            @include rwd('lg'){
              margin-left:250px ;
            }
            @include rwd('md'){
              margin-left:120px ;
            }
            @include rwd('sm'){
              margin-left:60px ;
            }
          }
        
          .game_start_botton {
            clip-path: polygon(0 0, 100% 0, 100% 53%, 84% 100%, 0 100%);
            width: 165px;
            height: 45px;
            background-color: $main_color;
            border: 1px solid $sec_color;
            z-index: 10;
            position: absolute;
            &:hover{
              box-shadow: 0px 0px 25px rgba(0, 255, 178, 1);

            }
            
            
        
            a {
              width: 180px;
              height: 54px;
              color: $sec_color;
              overflow: hidden;
              font-size: 20px;
              margin-left: -20px;
              margin-bottom: -20px;
              position: absolute;
              left: 0;
              top: 6px;
              text-decoration: none;
        
              svg {
                width: 100px;
                height: 30px;
                position: absolute;
                left: 90px;
                top: 0px;
              }
            }
          }
        
          .button_frame {
            z-index: 1;
            width: 165px;
            height: 45px;
            border: solid 1px #13E5F2;
            position: absolute;
            top: 10px;
            left: 10px;
            clip-path: polygon(0 0, 100% 0, 100% 56%, 86% 100%, 0 100%);
            background: linear-gradient(-40deg, #13E5F2 15px, #0b3361 0) bottom right;
            background-size: 15% 51%;
            background-repeat: no-repeat;
            
          }
  
        
  
  
      }
  
  }
    
  
  