.body_p07_demoPhone_block {
  background-image: url("../img/p07_demo/p07_demoPhone/p07_demoPhone_bg.png");
  background-color: $background_color;
  background-position-x: center;
  background-size: cover;
  h1 {
    color: $title_color;
  }
  main {
    margin: 0 auto;
    padding: 0 30px;
    @include rwd(md) {
      padding: 0 20px;
    }
    @include rwd(sm) {
      padding: 0 15px;
    }
    .robot_p07_demoPhone_phone {
      min-height: 100px;
      bottom: 0;
      right: 0;
      @include rwd(boostrap_lg) {
        top: 10%;
        left: 50%;
        transform: translate(-50%, 0);
      }
      .talkbox {
        /**** talk bubble ****/
        min-height: 300px;
        max-width: 60%;
        margin-left: 20%;
        position: relative;
        right: 0;
        z-index: 3;
        @include rwd(boostrap_lg) {
          max-width: 75%;
          margin-left: 0;
        }
        .talk-bubble {
          margin: 10px;
          position: absolute;
          background-color: $text_color;
          border-radius: 15px;
        }
        .tri-right.right-in:after {
          content: " ";
          position: absolute;
          left: auto;
          right: -20px;
          top: 40px;
          bottom: auto;
          border: 12px solid;
          border-color: $text_color transparent transparent $text_color;
        }
        /* talk bubble contents */
        .talktext {
          text-align: center;
          padding: 10px;
          p {
            font-size: 1rem;
            text-align: justify;
            line-height: 1.5;
            letter-spacing: 0.2rem;
            color: $sec_color;
            @include rwd(md) {
              font-size: 0.9rem;
              line-height: 1.2;
            }
          }
        }
      }
      svg {
        top: 0;
        right: 0;
        max-width: 90px;
        max-height: 90px;
        @include rwd(boostrap_lg) {
          right: 10%;
        }
        @include rwd(md) {
          right: 5%;
        }
        @include rwd(sm) {
          right: 0;
        }
      }
    }
    .phoneLayout_p07_demoPhone_phone {
      min-height: 800px;
      @include rwd(boostrap_lg) {
        min-height: 900px;
      }
      img:first-child {
        max-width: 350px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        @include rwd(boostrap_lg) {
          top: 65%;
          max-width: 300px;
        }
      }
      img:last-child {
        max-width: 320px;
        border-radius: 3rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        @include rwd(boostrap_lg) {
          top: 65%;
          border-radius: 2rem;
          max-width: 270px;
        }
      }
    }
    .volume_p07_demoPhone_phone {
      max-height: 100px;
      justify-content: end;
      @include rwd(boostrap_lg) {
        justify-content: center;
      }
      svg:first-child {
        max-width: 120px;
      }
      svg:last-child {
        max-width: 50px;
      }
    }
  }
}
