.body_p07_demoPhone_block {
  background-image: url("../img/p07_demo/p07_demoPhone/p07_demoPhone_bg.png");
  background-color: $background_color;
  background-position-x: center;
  background-size: cover;
  h1 {
    color: $title_color;
  }
  main {
    max-width: $w1200;
    margin: 0 auto;
    min-height: 750px;
    @include rwd(md) {
      padding: 0 20px;
      min-height: 1000px;
    }
    .demoPhone_p07_demoPhone_block {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 20px;
      @include rwd(md) {
        gap: 0;
        grid-template-rows: 200px 400px;
      }
      @include rwd(sm) {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 200px 410px;
      }
      .robot_p07_demoPhone_phone {
        grid-area: 2/9 / last-line/13;
        @include rwd(md) {
          grid-area: 1/6/2/13;
        }
        @include rwd(sm) {
          grid-area: 1/1/2/4;
        }
        position: relative;
        /**** talk bubble ****/
        .talk-bubble {
          margin: 10px;
          display: inline-block;
          position: absolute;
          max-width: 60%;
          height: auto;
          background-color: $text_color;
          @include rwd(sm) {
            min-width: 200px;
          }
        }
        .round {
          border-radius: 20px;
          -webkit-border-radius: 20px;
          -moz-border-radius: 20px;
        }
        .tri-right.right-in:after {
          content: " ";
          position: absolute;
          width: 0;
          height: 0;
          left: auto;
          right: -20px;
          top: 38px;
          bottom: auto;
          border: 12px solid;
          border-color: $text_color transparent transparent $text_color;
          display: none;
        }
        /* talk bubble contents */
        .talktext {
          text-align: center;
          padding: 1rem;
          p {
            text-align: left;
            line-height: 1.7rem;
            letter-spacing: 0.25rem;
            font-size: $fontSize20;
            font-weight: fontWeight500;
            color: $sec_color;
            @include rwd(sm) {
              font-size: 1rem;
            }
          }
        }
        svg {
          position: absolute;
          top: -8%;
          right: 10%;
          max-width: 90px;
          @include rwd(sm) {
            top: 0%;
            left: 85%;
            max-width: 90px;
          }
        }
      }

      .phoneLayout_p07_demoPhone_phone {
        position: relative;
        grid-area: 1/4 / last-line/9;
        min-height: 400px;
        @include rwd(md) {
          grid-area: 2/4/4/10;
        }
        @include rwd(sm) {
          grid-area: 2/1/3/5;
        }
        img:first-child {
          position: absolute;
          top: -2%;
          max-width: 350px;
          z-index: 2;
          @include rwd(sm) {
            left: 8%;
            max-width: 300px;
          }
        }
        img:last-child {
          position: absolute;
          top: 2%;
          left: 5%;
          max-width: 320px;
          z-index: 1;
          border-radius: 30px;
          @include rwd(sm) {
            max-width: 271px;
            top: 3%;
            left: 12%;
          }
        }
      }

      .volume_p07_demoPhone_phone {
        grid-area: 1/9/2 / last-line;
        @include rwd(md) {
          grid-area: 1/3/2/7;
          justify-self: start;
        }
        @include rwd(sm) {
          // display: none;
          grid-area: 2/2/3/5;
        }
        svg:first-child {
          max-width: 100px;
        }
        svg:last-child {
          max-width: 40px;
        }
      }
    }
  }
}
