.quiz_background{
    background-color: $background_color;
    font-family: 'Noto Sans TC','Outfit', sans-serif;
    background-image: url('../img/p07_demo/p07_demoGame/demo_bg.png');
    background-repeat: no-repeat;
    height: 1200px;
    
  .game_index{
    margin: 0 auto ;
    width: 900px;
    height: 90%;
    background: transparent;
    padding-top: 50px;
    
    
  
      /* 首頁中間部分 */
      
      
      
      .quiz_index {
        width: 900px;
        height: 835px;
        border: 5px solid $main_color;
        background-color: $sec_color;
        // margin-left: 150px;
        padding-left: 50px;
        margin-top: 20px;
        

        
      
        .quiz_title {
          color: $text_color;
          line-height: 6rem;
          margin-top: 80px;
          margin-bottom: 60px;
          letter-spacing: 1rem;
        }
      }
      
        
        .quiz_summary {
          width: 760px;
          border: 3px solid $main_color;
          height: 205px;
      
          .m {
            width: 100px;
            /* border:1px solid white; */
            height: 200px;
            background: linear-gradient(45deg, rgba(19, 229, 242, 1) 25%, transparent 25%, transparent 75%, rgba(19, 229, 242, 1) 75%, rgba(19, 229, 242, 1) 100%), linear-gradient(45deg, rgba(19, 229, 242, 1) 25%, transparent 25%, transparent 75%, rgba(19, 229, 242, 1) 75%, rgba(19, 229, 242, 1) 100%);
            background-position: 0 0, 50px 10px;
            background-size: 20px 20px;
          }
      
            p {
              width: 600px;
              margin-left: 120px;
              color: $text_color;
              padding-top: 15px;
              line-height: 2.0rem;
            }
        }
      
        .start {
          margin: 70px 0 240px 270px;
          width: 180px;
          height: 50px;
          position: relative;
        }
      
        .game_start {
          clip-path: polygon(0 0, 100% 0, 100% 53%, 84% 100%, 0 100%);
          width: 165px;
          height: 45px;
          background-color: $main_color;
          border: 1px solid $sec_color;
          z-index: 10;
          position: absolute;
      
          a {
            width: 180px;
            height: 54px;
            color: $sec_color;
            overflow: hidden;
            font-size: 20px;
            margin-left: -20px;
            margin-bottom: -20px;
            position: absolute;
            left: 0;
            top: 6px;
            text-decoration: none;
      
            svg {
              width: 30px;
              position: absolute;
              left: 137px;
              top: -1px;
            }
          }
        }
      
        .start .button_frame {
          z-index: 1;
          width: 165px;
          height: 45px;
          border: solid 1px #13E5F2;
          position: absolute;
          top: 10px;
          left: 10px;
          clip-path: polygon(0 0, 100% 0, 100% 56%, 86% 100%, 0 100%);
          background: linear-gradient(-40deg, #13E5F2 15px, #033159 0) bottom right;
          background-size: 15% 51%;
          background-repeat: no-repeat;
        }
      
        // .quiz_background {
        //   width: 1154px;
        //   height: 835px;
        //   border: 5px solid $main_color;
        //   background-color: $sec_color;
        //   margin-left: 150px;
        //   padding-left: 100px;
        //   margin-top: 150px;
        //   margin-bottom: 50px;
        // }
      
        // .p07_demoGame_01_question_number {
        //   width: 340px;
        //   height: 80px;
        //   margin: 65px 370px;
      
        //   /* background-color: red; */
        //   /* border:1px solid white; */
      
        //   .quiz_number_frame {
        //     clip-path: polygon(25% 0%, 100% 0, 100% 50%, 75% 100%, 0 100%, 0 49%);
        //     width: 340px;
        //     height: 80px;
        //     background-color: $sec_color;
        //     border: 5px solid $main_color;
        //     background: linear-gradient(153deg, #033159 38px, #13E5F2 0) bottom right, linear-gradient(333deg, #033159 38px, #13E5F2 0) top left;
        //     background-size: 25% 50%;
        //     background-repeat: no-repeat;
        //     border: solid 15px #13E5F2;
        //   }
      
        //   .quiz_question_num {
        //     text-align: center;
        //     line-height: 80px;
        //     color: $text_color;
        //   }
        // }
      
        // .p07_demoGame_01_quiz_view {
        //   border: 1px solid $main_color;
        //   width: 1015px;
        //   height: 480px;
        //   border: 1px solid white;
      
        //   .p07_demoGame_01_quiz_question_title {
        //     width: 915px;
        //     height: 60px;
        //     background-color: $background_color;
        //     border: 3px solid $main_color;
        //     margin: 0 auto;
        //     margin-top: 35px;
      
        //     p {
        //       margin: 0;
        //       text-align: center;
        //       line-height: 60px;
        //       font-size: 30px;
        //     }
        //   }
        // }

  }
  
}





