@mixin pad{
  @media(max-width:768px){
    @content;
  }
}
@mixin mobile{
  @media(max-width:428px){
    @content;
  }
}



/* 測驗頁面 */

.p07_demoGame_p01bg {
    background-color: $background_color;
    font-family: 'Noto Sans TC','Outfit', sans-serif;
    background-image: url('../img/p07_demo/p07_demoGame/demo_bg.png');
    padding-top: 100px;
    // background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 50px;
    @include pad{
      width: 768px;
      margin: 0 auto;
    }
    @include mobile{
      width: 428px;
    }

  
    
    //  題目整體背板
  
      .quiz_background {
        margin: 0 auto;
        width: 900px;
        height: 90%;
        border: 5px solid $main_color;
        background: transparent;
        padding-top: 50px;
        @include pad{
          width: 720px;
          margin: 0 auto;
        }
        @include mobile{
          width: 428px;
          
        }
        
        
      
        // 第幾題
    
        .p07_demoGame_01_question_number {
          width: 300px;
          height: 80px;
          margin: 20px auto 30px;
          @include mobile{
            width: 200px;
            // border:1px solid white;
          }
          
      
          /* background-color: red; */
          /* border:1px solid white; */
      
          .quiz_number_frame {
            clip-path: polygon(20% 0%, 100% 0, 100% 56%, 80% 100%, 0 100%, 0 48%);
            width: 300px;
            height: 80px;
            background-color: $sec_color;
            border: 5px solid $main_color;
            background: linear-gradient(153deg, $background_color 38px, #13E5F2 0) bottom right, linear-gradient(333deg, $background_color 38px, #13E5F2 0) top left;
            background-size: 27% 50%;
            background-repeat: no-repeat;
            border: solid 15px #13E5F2;

            @include mobile{
              width: 200px;
            background: linear-gradient(140deg, $background_color 38px, #13E5F2 0) bottom right, linear-gradient(314deg, $background_color 38px, #13E5F2 0) top left;
            background-size: 27% 50%;
            background-repeat: no-repeat;
            border: solid 15px #13E5F2;
            }
          }
      
          .quiz_question_num {
            text-align: center;
            line-height: 45px;
            color: $text_color;
            font-size:2.0rem;
          }
        }
  
        // 中間題目圖片
      
        .p07_demoGame_01_quiz_view {
          border: 1px solid $main_color;
          width: 700px;
          border: 10px solid $main_color;
          margin: 0 auto;
          @include pad{
            width: 650px;
          }
          @include mobile{
            width: 390px;
          }
      
          .p07_demoGame_01_quiz_question_title {
            width: 600px;
            background-color: $background_color;
            border: 3px solid $main_color;
            margin: 35px auto 50px;
            padding:10px;
            @include mobile{
              width: 320px;
            }
            
      
            p {
              margin: 0;
              text-align: center;
              line-height: 30px;
              font-size: 20px;
              @include mobile{
                font-size:18px;
              }
            }
          }
      
          img {
            width: 510px;
            height: 320px;
            display:block;
            margin: 0 auto 50px;
            line-height: 320px;
            @include mobile{
              width: 215px;
              height: 135px;
              
            }
           
          }
        }
  
        // 答題按鈕
        
        .answer_button{
          width: 800px;
          // margin-left: 55px;
          // margin-top: 120px;
          // margin-bottom: 20px;
          position:relative;
          height: 250px;
          // border:1px solid white;
          margin: 0 auto 20px;

          @include pad{
            width: 650px;
          }

          @include mobile{
            width: 428px;
            margin: 0 auto 20px;
          }

        
  
          .answer{
            width: 347px;
            height: 100px;
            position:absolute;
            cursor: pointer;
            margin-top: 30px;
            // border:1px solid white;
            background-image: url("@/assets/img/p07_demo/p07_demoGame/question_360x100.png");
            background-size: contain;
            
            
  
            &:hover{
              background-image: url("@/assets/img/p07_demo/p07_demoGame/answer_360x100.png");
              
            }

            @include pad{
              width: 320px;
              height: 100px;
              background-repeat: no-repeat;
            }

            @include mobile{
            width: 347px;
            height: 100px;
              
            }

            
  
          
            //  img{
            //   width: 360px;
            //   height: 100px;
            //   margin-right: 50px;
            //   &:hover{
            //     content:url()
            //   }
            //  }
  
             p{
              // font-size:14px;
               position: absolute;
               width: 230px;
               height: 120px;
               left: 52%;
               top: 73%;
               transform: translate(-50%,-50%);
              //  border: 1px solid red;
               
  
               &:hover{
                color:$sec_color;
               }
               @include pad{
                width: 210px;
              }  

              }

             
  
            }
  
  
          .answer.answer_button_01{
            left: 40px;
            @include pad{
              left:0;
            }
            @include mobile{
              left:40px;
                
              }
           
          }
  
          .answer.answer_button_02{
           right: 50px;
           @include pad{
            right:0;
          }
           @include mobile{
            left:40px;
            top:120px;
            } 

          }
  
          .answer.answer_button_03{
            left: 40px;
            top: 120px;
            @include pad{
              left:0;
            }
            @include mobile{
              left:40px;
              top:240px;
              }
           
          }
          .answer.answer_button_04{
            right: 50px;
            top: 120px;
            @include pad{
              right:0;
            }
            @include mobile{
              left:40px;
              top:360px;
              }
  
            // p{
  
            //   &:hover{
            //     color : $sec_color; 
            //   }
            // }
            
            
          }
        }
  
  
        // 印章部分
  
      .seal{
  
        border:10px solid red;
        height: 150px;
        width: 300px;
        position: absolute;
        z-index: 10;
        left: 31%;
        top: 27%;
        border-radius: 10px;
        transform:rotate(-10deg);
        @include mobile{
            left:20%;
            top:75%;
          }
  
  
        p{
          position: absolute;
          width: 200px;
          color:red;
          font-size:70px;
          left: 58%;
          top: 50%;
          transform: translate(-50%,-50%);
              
          
        }
      }
  
  
      // 解答區
    
    .answer_zone{
      border:1px solid $main_color;
      width: 750px;
      margin: 50px auto 0;
      background: $main_color;
      margin-bottom: 50px;
      @include pad{
        width: 650px;
      }
      @include mobile{
        margin-top: 280px;
        width: 380px;
        
      }
      
  
      .answer_board{
        
        width: 750px;
        margin: 30px auto 0;
        border:1px solid $main_color;
        background: $sec_color;
        clip-path: polygon(64% 0, 70% 10%, 100% 10%, 100% 100%, 0 100%, 0 0);
        @include pad{
          width: 650px;
          padding-bottom: 80px;
        }
        @include mobile{
          width: 380px;
         
         
        }
  
        h2{
          color:$text_color;
          padding: 30px 0 30px 30px;
        }
  
        p{
          padding: 0 30px 0px 30px;
          
        }

        @include pad{

        }

        @include mobile{
          padding: 0 15px 0px 15px;
          
        }
      }
    }  
  
    //下一題按鈕
  
    .next {
      margin: 70px 0 50px 330px;
      width: 180px;
      height: 50px;
      position: relative;
      @include pad{
        margin-left: 280px;
      }
      @include mobile{
        border:1px solid white;
        margin-left: 120px;
      }
    }
  
    .next_quiz_botton {
      clip-path: polygon(0 0, 100% 0, 100% 53%, 84% 100%, 0 100%);
      width: 165px;
      height: 45px;
      background-color: $main_color;
      border: 1px solid $sec_color;
      z-index: 10;
      position: absolute;
  
      .botton_p {
        width: 180px;
        height: 54px;
        color: $sec_color;
        overflow: hidden;
        font-size: 20px;
        margin-left: -20px;
        margin-bottom: -20px;
        position: absolute;
        left: 0;
        top: 6px;
        text-decoration: none;
  
        svg {
          width: 100px;
          height: 30px;
          position: absolute;
          left: 90px;
          top: 0px;
        }
      }
    }
  
    .next .next_quiz_frame {
      z-index: 1;
      width: 165px;
      height: 45px;
      border: solid 1px #13E5F2;
      position: absolute;
      top: 10px;
      left: 10px;
      clip-path: polygon(0 0, 100% 0, 100% 56%, 86% 100%, 0 100%);
      background: linear-gradient(-40deg, #13E5F2 15px, #033159 0) bottom right;
      background-size: 15% 51%;
      background-repeat: no-repeat;
    }
  
  
  
      }
  
  }