.body_p07_demoLine{
    background-color: $background_color;
    color:  $text_color;
    .main_p07_demoLine{
        background-image: url(@/assets/img/p07_demo/p07_demoShopping/demo_bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 1px 0 80px;
        // width: 1080px;
        padding-left: 40px;
        padding-right: 40px;
        overflow: scroll;
        scroll-behavior: smooth;
        direction: rtl;
        &::-webkit-scrollbar{
            display: none;
        }
        @include rwd(lg){
            padding-left: 30px;
            padding-right: 30px;
        }
        @include rwd(md){
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 0;
        }
        @include rwd(sm){
            // padding-left: 8px;
            // padding-right: 8px;
        }
        
        // ============= line 背景 ============= 
        .line_p07_demoLine{
            width: 1000px;
            height: 1302px;
            margin: 0 auto;
            background-image: url('../img/p07_demo/p07_demoLine/linebg.png');
            background-size: cover;
            padding-top: 125px;
            position: relative;
            display: flex;
            direction: ltr;
            @include rwd(md){
                width: 800px;
                background-size: contain;
                background-repeat: no-repeat;
                height: 1111px;
            }
            @include rwd(sm){
                width: 600px;
                padding-top: 80px;
                height: 831px;
            }

             // ============= 遮罩 ============= 
            .line_p07_demoLine_chatCover{
                width: 347px;
                height: 889px;
                background-color: rgba(128, 128, 128, .8);
                margin-top: 240px;
                margin-left: 45px;
                @include rwd(md){
                    width: 277.5px;
                    margin-top: 167px;
                    margin-left: 36px;
                    height: 710px;
                }
                @include rwd(sm){
                    width: 208.2px;
                    margin-top: 139px;
                    margin-left: 27px;
                    height: 533px;
                }
            }
             // ============= line 聊天區 ============= 
            .line_p07_demoLine_chatContainer{
                width: 563px;
                height: 1077px;
                // margin-left: 392px;
                padding-top: 20px;
                padding-left: 20px;
                background-color: #93AAD4;        
                @include rwd(md){
                    width: 449px;
                    height: 836px;
                    padding-top: 10px;
                    padding-left: 10px;
                }
                @include rwd(sm){
                    width: 338px;
                    height: 640px;
                    padding-top: 20px;
                }
                
                // ============= 聊天框框 (左) ============= 
                .line_p07_demoLine_chatMessageLeft{
                    // margin-top: 10px;
                    
                    // ============= 聊天區的大頭貼 =============                     
                    img{
                        width: 50px;
                        height: 50px;
                        position: absolute;
                        @include rwd (md){
                            width: 40px;
                            height: 40px;
                        }
                        @include rwd(sm){
                            width: 35px;
                            height: 35px;
                        }
                    }

                    // ============= 對話內容 ============= 

                    .line_p07_demoLine_chatMessagesContentLeft{
                        display: inline-flex;
                        align-items: flex-end;
                        max-width: 85%;
                        margin-left: 50px;
                        margin-top: 10px;
                        @include rwd(md){
                            margin-left: 40px;
                            margin-top: 8px;
                        }
                        @include rwd(sm){
                            margin-left: 30px;
                        }
                        
                        // ============= 對話文字 ============= 
                        .line_p07_demoLine_chatMessagesText{
                            color: $background_color;
                            background-color: $text_color;
                            padding: 8px 16px;
                            margin-bottom: 0;
                            margin-left: 10px;
                            border-radius: 20px;
                            @include rwd(md){
                                padding: 5px 12px;
                                font-size: 16px;
                                border-radius: 15px;
                                line-height: 1.5;
                            }
                            @include rwd(sm){
                                font-size: 14px;
                                line-height: 1.2;
                            }
                        }
                        
                        // ============= 時間 ============= 
                        .line_p07_demoLine_chatMessageTimestamp{
                            font-size: 12px;
                            margin-left: 10px;  
                            flex-shrink: 0;  
                            @include rwd(md){
                                margin-left: 6px;
                            }
                        }

                    }
                    
                }    
                
                // ============= 聊天框框 (右) ============= 
                .line_p07_demoLine_chatMessageRight{
                    display: flex;
                    align-items: flex-end;
                    justify-content: flex-end;
                    margin-right: 20px;
                    margin-top: 10px;
                    @include rwd(md){
                        margin-right: 10px;
                        margin-top: 8px;
                    }
                    @include rwd(sm){
                        margin-right: 8px;
                    }
                    
                    .line_p07_demoLine_chatMessageTimestamp{
                        font-size: 12px;
                        margin-right: 10px;
                        @include rwd(md){
                            margin-right: 6px;
                        }
                    }
                    .line_p07_demoLine_chatMessagesText{
                        color: $background_color;
                        background-color: $text_color;
                        padding: 8px 16px;
                        margin-bottom: 0;
                        border-radius: 20px;
                        @include rwd(md){
                            padding: 5px 12px;
                            font-size: 16px;
                            line-height: 1.5;
                        }
                        @include rwd(sm){
                            font-size: 14px;
                            line-height: 1.2;
                        }
                    }
                }

                // ============= Demo 按鈕 ============= 
                .line_p07_demoLine_chatMessageButton{
                    color: #6A2498;
                    background-color: $text_color;
                    border: 2px solid #6A2498;
                    display: block;
                    width: 290px;
                    height: 50px;
                    font-size: 22px;
                    margin: 0 auto;
                    border-radius: 12.8px;
                    margin-top: 40px;
                    @include rwd(md){
                        font-size: 18px;
                        width: 220px;
                        height: 40px;
                        margin-top: 30px;
                    }
                    @include rwd(sm){
                        font-size: 16px;
                        width: 200px;
                        height: 36px;
                        margin-top: 20px;
                    }
                }

                
            }
            // ============= 筆 ============= 
            .applepencil_p07_demoLine{
                position: absolute;
                right: -13vw;
                top: 20vh;
                @include rwd(lg){
                    display: none;
                }
                img{
                    width: 100%;
                }
            }
        }
    }
    
}