@mixin pad{
  @media(max-width:768px){
    @content;
  }
}
@mixin mobile{
  @media(max-width:428px){
    @content;
  }
}



.quiz_background{
    background-color: $background_color;
    font-family: 'Noto Sans TC','Outfit', sans-serif;
    background-image: url('../img/p07_demo/p07_demoGame/demo_bg.png');
    background-repeat: no-repeat;
    @include mobile {
      width:400px;
    }
    

    
    
  .game_index{
    margin: 0 auto ;
    width: 900px;
    height: 90%;
    background: transparent;
    padding-top: 50px;
    padding-bottom: 50px;

    @include pad {
      width:768px;
    }
    @include mobile {
      width:390px;
      margin: 0 auto;
    }
    
    
  
      /* 首頁中間部分 */
      
      
      
      .quiz_index {
        width: 900px;
        height: 835px;
        border: 5px solid $main_color;
        background-color: $sec_color;
        // margin-left: 150px;
        padding-left: 50px;
        margin-top: 20px;
        @include pad {
          width:680px; 
          margin: 0 auto ;
        }
        @include mobile {
          width:390px;
          margin: 0 auto;
          padding-left: 30px;
          
        }
        
        

        
      
        .quiz_title {
          color: $text_color;
          line-height: 6rem;
          margin-top: 80px;
          margin-bottom: 60px;
          letter-spacing: 1rem;
          @include pad {
            font-size: 2rem;
          }
          @include mobile {
            width:390px;
            margin: 0 auto;
            font-size:50px;
            display: none;
          }

        }

        .quiz_title428{
          display: none;
          @include pad {
            font-size: 2rem;
          }
          @include mobile {
            display:block;
            width:428px;
            margin: 0 auto;
            font-size:40px;
            color: $text_color;
            line-height: 6rem;
            margin-top: 80px;
            margin-bottom: 60px;
            letter-spacing: 1rem;
            
          }  
        }
      }
      
        
        .quiz_summary {
          width: 760px;
          border: 3px solid $main_color;
          height: 205px;
          @include pad {
            width:580px;
          }
          @include mobile{
           width: 320px;
           height: 290px;
          }
      
          .m {
            width: 100px;
            /* border:1px solid white; */
            height: 200px;
            background: linear-gradient(45deg, rgba(19, 229, 242, 1) 25%, transparent 25%, transparent 75%, rgba(19, 229, 242, 1) 75%, rgba(19, 229, 242, 1) 100%), linear-gradient(45deg, rgba(19, 229, 242, 1) 25%, transparent 25%, transparent 75%, rgba(19, 229, 242, 1) 75%, rgba(19, 229, 242, 1) 100%);
            background-position: 0 0, 50px 10px;
            background-size: 20px 20px;
            @include mobile{
              width: 0;
              height: 0;
            }



          }
      
            p {
              width: 600px;
              margin-left: 120px;
              color: $text_color;
              padding-top: 15px;
              line-height: 2.0rem;
              @include pad {
                font-size: 1rem;
                width:420px;
                padding-top: 10px;
              }
              @include mobile{
                width: 280px;
                margin-left: 0;
                font-size: 1rem;
                margin-left: 20px;
                
              }
            }
        }
      
        .start {
          margin: 70px 0 240px 270px;
          width: 180px;
          height: 50px;
          position: relative;
          @include pad {
            font-size: 1rem;
            width:420px;
            margin-left: 200px;
          }
          @include mobile{
           margin-left: 60px;
           margin-top: 30px;
          }
        }
      
        .game_start {
          clip-path: polygon(0 0, 100% 0, 100% 53%, 84% 100%, 0 100%);
          width: 165px;
          height: 45px;
          background-color: $main_color;
          border: 1px solid $sec_color;
          z-index: 10;
          position: absolute;
          @include mobile{
           
          }
      
          a {
            width: 180px;
            height: 54px;
            color: $sec_color;
            overflow: hidden;
            font-size: 20px;
            margin-left: -20px;
            margin-bottom: -20px;
            position: absolute;
            left: 0;
            top: 6px;
            text-decoration: none;
      
            svg {
              width: 30px;
              position: absolute;
              left: 137px;
              top: -1px;
            }
          }
        }
      
        .start .button_frame {
          z-index: 1;
          width: 165px;
          height: 45px;
          border: solid 1px #13E5F2;
          position: absolute;
          top: 10px;
          left: 10px;
          clip-path: polygon(0 0, 100% 0, 100% 56%, 86% 100%, 0 100%);
          background: linear-gradient(-40deg, #13E5F2 15px, #033159 0) bottom right;
          background-size: 15% 51%;
          background-repeat: no-repeat;
        }
      
        
  }
  
}









