.body_p07_demoLine{
    background-color: $background_color;
    color:  $text_color;
    .main_p07_demoLine{
        background-image: url(@/assets/img/p07_demo/p07_demoShopping/demo_bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 1px 0 80px;

        // ============= line 背景 ============= 
        .line_p07_demoLine{
            outline: 1px solid red;
            max-width: 1000px;
            height: 1302px;
            margin: 0 auto;
            background-image: url('../img/p07_demo/p07_demoLine/linebg.png');
            background-size: cover;
            padding-top: 125px;

             // ============= line 聊天框框 ============= 
            .line_p07_demoLine_chatContainer{
                width: 563.8px;
                height: 1077px;
                margin-left: 392px;
                padding-top: 20px;
                padding-left: 20px;
                background-color: #93AAD4;
             
                // ============= line 聊天框框 ============= 
                .line_p07_demoLine_chatMessage{
                    display: flex;
                    img{
                        width: 50px;
                        height: 50px;
                    }
                    .line_p07_demoLine_chatMessages{
                        .line_p07_demoLine_chatMessagesName{
                            line-height: 1;
                            margin-bottom: 0;
                            font-size: 12px;
                            color: $third_color;
                        }     
                        .line_p07_demoLine_chatMessagesContent{
                            background-color: $text_color;
                            padding: 8px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius: 30px;
                            .line_p07_demoLine_chatMessagesContents{
                                color: $background_color;
                                margin-bottom: 0;
                            }
                            &::before{
                                content: '';
                                display: block;
                                background-color: $text_color;
                                border-right: 7px solid transparent;
                            }
                        }                 
                    }
                }
            }
        }
        // ============= 筆 ============= 
        .applepencil_p07_demoLine{
            position: absolute;
            right: 1vw;
            top: 50vh;
            img{
                width: 100%;
                object-fit: contain;
            }
        }
    }
    
}