.body_p09_team_block {
  background: $background_color url("../img/p09_team/p09_team_bg.png");
  min-height: 100vh;
  background-size: cover;
  h2 {
    width: $w1200;
    color: $text_color;
    font-family: "outfit";
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 auto;
    padding: 60px 0;
  }
  section {
    padding: 30px;
    position: relative;
    text-align: center;
    img {
      max-width: 1200px;
    }
    div {
      position: absolute;
      right: 5%;
      bottom: 10%;
      background-color: #ffffffcc;
      padding: 25px;
      max-width: 550px;
      border-radius: 5px;
      p {
        letter-spacing: 0.2rem;
        line-height: 1.5rem;
        color: $sec_color;
        text-align: justify;
      }
    }
  }
}
