.body_p07_demoLine{
    background-color: $background_color;
    color:  $text_color;
    .main_p07_demoLine{
        background-image: url(@/assets/img/p07_demo/p07_demoShopping/demo_bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        padding: 1px 0 80px;
        // ============= line ============= 
        .line_p07_demoLine{
            outline: 1px solid red;
            max-width: 1000px;
            height: 1302px;
            margin: 0 auto;
            background-image: url('../img/p07_demo/p07_demoLine/linebg.png');
            background-size: cover;
            padding-top: 125px;
            .line_p07_demoLine_chatContainer{
                width: 563.8px;
                height: 1077px;
                margin-left: 392px;
                background-color: #93AAD4;
            }
        }
        // ============= 筆 ============= 
        .applepencil_p07_demoLine{
            position: absolute;
            right: 1vw;
            top: 50vh;
            img{
                width: 100%;
                object-fit: contain;
            }
        }
    }
    
}