.body_p07_demoShopping{
    background-color: $background_color;
    color:  $text_color;
    height: 100vh;
}
.main_p07_demoShopping{
    background-image: url(@/assets/img/p07_demo/p07_demoShopping/demo_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1px 0 80px;
}
/* ========= 瀏覽器 ===========*/
.browser_p07_demoShopping{
    overflow-y: scroll;
    overflow-x: hidden;
    max-width: 1200px;
    width: 100%;
    border: 1px solid white;
    border-radius: 8px;
    height: 70vh;
    margin: 20px auto;
    background-color: white;
    &::-webkit-scrollbar {
        width: 7px;
    }
    &::-webkit-scrollbar-button {
        background: transparent;
        border-radius: 4px;
    }
    &::-webkit-scrollbar-track-piece {
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(0, 0, 0, 0.4);
        border: 1px solid slategrey;
    }
    &::-webkit-scrollbar-track {
        box-shadow: transparent;
    }
    i{
        color: $background_color;
        margin: 10px;
    }
    // 瀏覽器上面toolbar
    .toolbar_demoShopping{
        position: sticky;
        top: 0;
        background-color: white;
        z-index: 10;
        .toolbar_top_demoShopping{
            padding: 0px 20px;
            display: flex;
            align-items: center;
            .circles_demoShopping{
                width: 15px;
                height: 15px;
                border-radius: 50%;
                background-color: red;
                box-shadow: 1.5rem 0 0 yellow, 3rem 0 0 green;
                margin-right: 4rem;
            }
            .tab_demoShopping{
                background-color: lightgray;
                color: $background_color;
                margin-top: 2px;
                width: 200px;
                border-radius: 10px 10px 0px 0px;
            }
        }
        .toolbar_down_demoShopping{
            background-color: lightgray;
            display: flex;
            padding: 5px;
            .address_demoShopping{
                background-color: white;
                border-radius: 10px;
                flex-grow: 1;
                color: $background_color;
            }
        }
    }
    // ========= 下單 =========
    .cart_p07_demoShopping{
        // outline: 10px solid red;
        // height: 100%;
        position: absolute;
        max-width: 1200px;
        width: 100%;
        height: calc(70vh - 84px);
        background-color: rgba(0,0,0,0.5);;
        .cart_container_p07_demoShopping{
            overflow-y: scroll;
            overflow-x: hidden;
            float: right;
            width: 70%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.884);
            color: black;
            p{
                color: black;
            }
        }
        // title
        .title{
            outline: 1px solid;
            display: flex;
            padding: 20px;
            justify-content: space-between;
            font-size: 24px;
        }
        // 沒商品 ==========
        .non_cart{
            padding: 20px;
            width: 100%;
            display: flex;
            flex-direction: column;
            .bagIcon{
                margin: 0 auto;
                width: 200px;
                height: 200px;
                background-color: #ff3b30;
                border-radius: 50%;
                i{
                    // overflow: hidden;
                    color: white;
                    font-size: 100px;
                    padding: 40px 45px;
                }
            }
            button{
                width: 200px;
                height: 40px;
                margin: 50px auto 0;
                border: none;
                border-radius: 10px;
            }
        }
        // 有商品 ==========
        .cart_list{
            padding: 20px;
            .products{
                outline: 1px solid red;
                display: flex;
                justify-content: space-between;
                img{
                    max-width: 100px;
                    width: 100%;
                    object-fit: contain;
                }
                .product_details{
                    padding: 0 20px;
                    flex-grow: 1;
                }
            }
        }
        .total{
            // outline: 1px solid red;
            display: flex;
            flex-direction: column;
            color: gray;
            .total_item{
                display: flex;
                justify-content: space-between;
                padding: 10px 0;
                padding-left: 120px;
            }
            .total_price{
                color: #ff3b30;
                font-size: 20px;
            }
        }
        .selected{
            padding: 20px;
            label{
                display: flex;
                margin: 20px 0;
                span{
                    padding: 0 10px;
                }
            }
            p{
                font-size: 20px;
                font-weight: 800;
            }
            button{
                color: white;
                font-size: 20px;
                font-weight: 800;
                width: 200px;
                line-height: 40px;
                border: none;
                border-radius:20px;
                background-color: #ff3b30;
                margin: 10px 0;
            }
        }
        .box{
            border: 1px solid gray;
            border-radius: 5px;
            padding: 20px;
            margin: 20px 0;
        }
    }
    // ========= 假購物網站 =========
    .scamWeb_p07_demoShopping_container{
        
        // ========= 假購物網站 nav =========
        .scamWeb_p07_demoShopping_nav{
            // width: 1200px;
            width: 100%;
            height: 96px;
            background-color: #a4b5c3;
            display: flex;
            align-items: center;
            .scamWeb_p07_demoShopping_navP{
                width: 600px;
                color: var(--text_color);
                margin-left: 20px;
                margin-bottom: 0;
            }
        }
        .scamWeb_p07_demoShopping_navbar{
            width: 520px;
            height: 48px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            list-style: none;
            padding: 0;
            margin-left: 20px;
            margin-bottom: 0;
            li{
                font-weight: 700;
                &:not(:nth-child(4)){
                    a{
                        color: $background_color;
                        text-decoration: none;
                    }
                }
                &:nth-child(4){
                    color: $text_color;
                    background-color: #ff3b30;
                    line-height: 48px;
                    a{
                        display: block;
                        width: auto;
                        height: auto;
                        padding: 0 15px;
                        text-decoration: none;
                        color: $text_color;
                        &:hover{
                            color: inherit;
                        }
                    }
                }
            }
        }
        $p07_demoShopping_heightBanner: 608px;
        // ========= 購物網站第一 banner =========
        .scamWeb_p07_demoShopping_banner1{
            background-image: url('../img/p07_demo/p07_demoShopping/pic01.jpg');
            background-size: contain;
            background-repeat: no-repeat;
            height: $p07_demoShopping_heightBanner;
            .scamWeb_p07_demoShopping_banner1P{
                font-size: 96px;
                font-weight: bold;
                text-shadow: -5px 0 black, -5px 1px black, -5px 0 black, -5px -1px black;
                line-height: 1;
                padding-top: calc($p07_demoShopping_heightBanner - 20%);
                padding-left: 20px;
            }
            .scamWeb_p07_demoShopping_banner1Countdown{
                font-size: 96px;
                color: #ff3b30;
                font-weight: bold;
                text-shadow: -5px 0 black, -5px 1px black, -5px 0 black, -5px -1px black;
                line-height: .6;
                padding-left: 20px;
            }
        }

        // ========= 第一紅條廣告詞 =========
        .scamWeb_p07_demoShopping_bannerRed{
            width: 100%;
            height: 80px;
            background-color: #ff3b30;
            ul{
                list-style: none;
                display: flex;
                margin-bottom: 0;
                li{
                    font-weight: bold;
                    &:first-child{
                        font-size: 48px;
                        line-height: 80px;
                    }
                    &:nth-child(2){
                        font-size: 20px;
                        font-weight: normal;
                        text-decoration: line-through;
                    }
                    &:last-child{
                        font-size: 36px;
                        line-height: 80px;
                        margin-left: 120px;
                    }
                }
            }

            // ========= 第二紅條廣告詞 =========
            .scamWeb_p07_demoShopping_bannerRedP1{
                // color: $text_color;
                font-weight: bold;
                font-size: 36px;
                line-height: 80px;
                text-align: center;
                margin-bottom: 0;
            }

            // ========= 第三四紅條廣告詞 =========
            .scamWeb_p07_demoShopping_bannerRedP2{
                font-weight: bold;
                font-size: 20px;
                margin-bottom: 0;
                padding: 7px 20px;
            }
        }

        // ========= 第四紅條廣告詞 =========
        .scamWeb_p07_demoShopping_bannerRed4{
            height: 50px;
            .scamWeb_p07_demoShopping_bannerRedP2{
                text-align: center;
                line-height: 50px;
                padding: 0;
            }
        }

        // ========= 第五紅條廣告詞 =========
        .scamWeb_p07_demoShopping_bannerRed5{
            margin-top: 40px;
        }

        // ========= 第一灰條廣告詞 =========
        .scamWeb_p07_demoShopping_bannerGray{
            background-color: #D9D9D9;
            padding: 7px 20px;
            p{
                color: $background_color;
                font-weight: bold;
                font-size: 20px;
                margin-bottom: 0;
            }
        }

        // ========= 購物網站第二 banner =========
        .scamWeb_p07_demoShopping_banner2{
            width: 100%;
        }

        // ========= 貨運廣告 banner =========
        .scamWeb_p07_demoShopping_deliveryAdvertisement{
            width: 100%;
            display: flex;
            justify-content: space-between;
        }

        // ========= 衣服卡片區 =========
        .scamWeb_p07_demoShopping_clothCardContainer{
            width: 100%;
            display: flex;
            justify-content: space-between;
            .scamWeb_p07_demoShopping_clothCard{
                // flex-grow: 1;
                width: 277.5px;
                display: flex;
                flex-direction: column;
                align-items: center;
                color: $background_color;
                padding-bottom: 40px;
                position: relative;
                .scamWeb_p07_demoShopping_clothCardSpecial{
                    position: absolute;
                    align-self: flex-start;
                    width: 88px;
                    height: 36px;
                    text-align: center;
                    line-height: 36px;
                    background-color: #F2BC1B;
                    color: $text_color;
                }
                img{
                    border-radius: 20px;
                }
                a{
                    font-size: 14px;
                    color: #9D9EA2;
                    margin-top: 20px;
                }
                p{
                    margin-top: 20px;
                    color: $background_color;
                    font-weight: 600;
                }
                .scamWeb_p07_demoShopping_clothCardPrice{
                    width: 110px;
                    display: flex;
                    justify-content: space-between;
                    span{
                        font-size: 14px;
                        font-weight: 600;
                        &:first-child{
                            color: #9D9EA2;
                            text-decoration: line-through;
                        }
                        &:last-child{
                            color: #ff3b30;
                        }
                    }
                }
                .scamWeb_p07_demoShopping_clothCardSizeSelect{
                    list-style: none;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 150px;
                    height: 30px;
                    padding-left: 0;
                    margin-bottom: 0;
                    margin-top: 20px;
                    li{
                        font-size: 12px;
                        cursor: pointer;
                        display: block;
                        width: 30px;
                        height: 30px;
                        text-align: center;
                        line-height: 30px;
                        border: 1px solid #C5C5C5;
                    }
                }
                button{
                    width: 120px;
                    height: 40px;
                    border-radius: 40px;
                    border: none;
                    text-align: center;
                    line-height: 30px;
                    font-size: 12px;
                    background-color: #ff3b30;
                    color: $text_color;
                    margin-top: 20px;
                }
            }
        }

        // ========= 四張信用卡 =========
        .scamWeb_p07_demoShopping_creditCard{
            display: flex;
            justify-content: space-around;
            margin-top: 40px;
            img{
                cursor: pointer;
            }
        }

        // ========= 動態評論區 =========
        .scamWeb_p07_demoShopping_discussion{
            display: flex;
            flex-direction: column;
            height: 430px;
            list-style: none;
            padding-left: 0;
            margin-bottom: 0;
            li{
                flex-grow: 1;
                font-size: 20px;
                font-weight: 800;
                line-height: 1.2;
                color: $background_color;
                display: flex;
                align-items: center;
                padding: 0 25px;
                &:nth-child(2n){
                    background-color: $text_color;
                    border: 1px solid #000;
                }
                &:nth-child(2n-1){
                    background-color: #9D9EA2;
                    border: none;
                }
            }
        }

        // ========= 購物網站 footer =========
        .scamWeb_p07_demoShopping_footer{
            height: 275px;
            background-color: #a4b5c3;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            p{
                line-height: 1.4;
                margin-bottom: 0;
                color: $background_color;
                font-weight: 700;
            }
            .scamWeb_p07_demoShopping_footerCard{
                margin-top: 30px;
                width: 270px;
                display: flex;
                justify-content: space-between;
                img{
                    cursor: pointer;
                }
            }
            .scamWeb_p07_demoShopping_footerInfo{
                margin-top: 30px;
                width: 370px;
                display: flex;
                justify-content: space-between;
                .scamWeb_p07_demoShopping_footerNav{
                    ul{
                        list-style: none;
                        margin-bottom: 0;
                        padding-left: 0;
                        display: flex;
                        justify-content: flex-end;
                        li{
                            color: $background_color;
                            font-weight: 700;
                            padding: 0 7px;
                            cursor: pointer;
                            &:not(:last-child){
                                border-right: 1px solid $background_color;
                            }
                        }
                    }
                    p{
                        text-align: right;
                    }
                }
                .scamWeb_p07_demoShopping_footerSocialMedia{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                }
            }
        }

    }
       
}