
<!DOCTYPE html>
<html lang="zh-Hant-Tw">
<head>
    <title>詐知就好</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
    <!-- jsGrid & jquery -->
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
    <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.28.14/js/jquery.tablesorter.min.js"></script>
    
    <link rel="stylesheet" href="../../assets/CSS/pages/p03_reportURL.css">
    <!-- 之後轉scss -->
    <link rel="stylesheet" href="Sass/css/style.css">
</head>
<body>
    <!-- w3c 插入 html 的 script 等之後有 vue 可以拿掉 -->
    <script>
        function includeHTML() {
            var z, i, elmnt, file, xhttp;
            /* Loop through a collection of all HTML elements: */
            z = document.getElementsByTagName("*");
            for (i = 0; i < z.length; i++) {
                elmnt = z[i];
                /*search for elements with a certain atrribute:*/
                file = elmnt.getAttribute("w3-include-html");
                if (file) {
                /* Make an HTTP request using the attribute value as the file name: */
                xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                    if (this.readyState == 4) {
                    if (this.status == 200) {elmnt.innerHTML = this.responseText;}
                    if (this.status == 404) {elmnt.innerHTML = "Page not found.";}
                    /* Remove the attribute, and call this function once more: */
                    elmnt.removeAttribute("w3-include-html");
                    includeHTML();
                    }
                }
                xhttp.open("GET", file, true);
                xhttp.send();
                /* Exit the function: */
                return;
                }
            }
        }
    </script>
    <div w3-include-html="./header.html"></div>
    <main>
        <h1>回報可疑網站</h1>
        <form method="post" action="" class="form_p03_reportURL">
            <h6>可疑網站填寫表單</h6>
            <p>民眾若發現可疑網站，可於本平台進行通報<br>
                本站將由專人協助判斷是否為「偽冒網站/詐騙網站」
            </p>
            <!-- 會員 -->
            <div class="user_p03_reportURL">
                <div class="userImg">
                    <img src="" alt="userImg">
                </div>
                <div class="userInfo">
                    <span>嗨！</span>會員
                    <p>有發現什麼可疑網站嗎</p>
                </div>
            </div>
            <div class="formInput_p03_reportURL">
                <label for="url">網站網址</label>
                <input class="input_p03" type="text" name="url" placeholder="http://">
                <i class="fa-solid fa-circle-xmark"></i>
                <p class="warning_p03">該網址已通報過囉</p>
                <div class="active_p03_reportURL">
                    <label for="email">通報人信箱</label>
                    <input class="input_p03" type="email" name="email" placeholder="請輸入您的信箱">
                </div>
                <label for="title">網站名稱</label>
                <input class="input_p03" type="text" name="title" placeholder="被偽冒或詐騙公司名稱">
                <label for="notes">備註</label>
                <textarea class="input_p03" name="notes" id="" cols="30" rows="10" placeholder="可說明該網站可疑之處..."></textarea>
                <input class="inputSubmit_p03 small_button" type="submit" value="送出"> 
            </div>
        </form>
        <!-- ======== 已通報的可疑網站列表 ======== -->
        <section class="urlList_p03_reportURL">
            <h2>已通報的可疑網站列表</h2>
            <table class="" id="keywords" style="display: none";>
                <thead>
                    <tr>
                        <th><i class="fa-regular fa-calendar"></i><span> 日期 </span><i class="fa-solid fa-angle-down"></i></th>
                        <th><i class="fa-solid fa-file-circle-check"></i><span> 回報狀態 </span><i class="fa-solid fa-angle-down"></i></th>
                        <th><i class="fa-solid fa-globe"></i><span> 網站名稱 </span><i class="fa-solid fa-angle-down"></i></th>
                        <th><i class="fa-solid fa-link"></i><span> 網址 </span><i class="fa-solid fa-angle-down"></i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>2023/01/10</td>
                        <td>未審核</td>
                        <td>17play娛樂城</td>
                        <td>https://cesare.asia/6</td>
                    </tr>
                    <tr>
                        <td>2023/01/09</td>
                        <td>非詐騙網站</td>
                        <td>19play娛樂城</td>
                        <td>https://cesare.asia/5</td>
                    </tr>
                    <tr>
                        <td>2023/02/11</td>
                        <td>確認為詐騙網站</td>
                        <td>18play娛樂城</td>
                        <td>https://cesare.asia/64</td>
                    </tr>
                    <tr>
                        <td>2023/02/11</td>
                        <td>確認為詐騙網站</td>
                        <td>18play娛樂城</td>
                        <td>https://cesare.asia/64</td>
                    </tr>
                    <tr>
                        <td>2023/02/11</td>
                        <td>確認為詐騙網站</td>
                        <td>18play娛樂城</td>
                        <td>https://cesare.asia/64</td>
                    </tr>
                    <tr>
                        <td>2023/02/11</td>
                        <td>確認為詐騙網站</td>
                        <td>18play娛樂城</td>
                        <td>https://cesare.asia/64</td>
                    </tr>
                    <tr>
                        <td>2023/02/11</td>
                        <td>確認為詐騙網站</td>
                        <td>18play娛樂城</td>
                        <td>https://cesare.asia/64</td>
                    </tr>
                    <tr>
                        <td>2023/02/11</td>
                        <td>確認為詐騙網站</td>
                        <td>18play娛樂城</td>
                        <td>https://cesare.asia/64</td>
                    </tr>
                </tbody>
              </table>
              <div class="pages " style="display: none;">
                <i class="fa-solid fa-angles-left"></i>
                <span>1 2 3 4 5 ... </span>
                <i class="fa-solid fa-angles-right"></i>
              </div>
            <div id="jsGrid"></div>
        </section>
    </main>
    <div w3-include-html="./footer.html"></div>
    <script>
        $(function () {
            $("#keywords").tablesorter();
        });
    </script>
    <!-- w3c 插入 html 的 script 等之後有 vue 可以拿掉 -->
    <script>includeHTML();</script>
    <!-- 先給靜態 之後抓動態資料 -->
    <script>
        var website = [
            { "日期": "2022/11/11", "回報狀態": 1, "網站名稱": "-", "網址": "https://cesare.asia/6",  },
            { "日期": "2022/11/11", "回報狀態": 1, "網站名稱": "17play 娛樂城", "網址": "https://cesare.asia/6",  },
            { "日期": "2022/11/11", "回報狀態": 1, "網站名稱": "17play 娛樂城", "網址": "https://cesare.asia/6",  },
            { "日期": "2022/11/11", "回報狀態": 1, "網站名稱": "17play 娛樂城", "網址": "https://cesare.asia/6",  },
            { "日期": "2022/11/11", "回報狀態": 2, "網站名稱": "17play 娛樂城", "網址": "https://cesare.asia/6",  },
            { "日期": "2022/11/11", "回報狀態": 2, "網站名稱": "17play 娛樂城", "網址": "https://cesare.asia/6",  },
            { "日期": "2022/11/11", "回報狀態": 2, "網站名稱": "17play 娛樂城", "網址": "https://cesare.asia/6",  },
            { "日期": "2022/11/11", "回報狀態": 2, "網站名稱": "17play 娛樂城", "網址": "https://cesare.asia/6",  },
            { "日期": "2022/11/11", "回報狀態": 2, "網站名稱": "17play 娛樂城", "網址": "https://cesare.asia/6",  },
            { "日期": "2022/11/11", "回報狀態": 2, "網站名稱": "17play 娛樂城", "網址": "https://cesare.asia/6",  },
            { "日期": "2022/11/11", "回報狀態": 2, "網站名稱": "17play 娛樂城", "網址": "https://cesare.asia/6",  },
            { "日期": "2022/11/11", "回報狀態": 2, "網站名稱": "17play 娛樂城", "網址": "https://cesare.asia/6",  },
            { "日期": "2022/11/11", "回報狀態": 2, "網站名稱": "17play 娛樂城", "網址": "https://cesare.asia/6",  },

        ];
     
        var countries = [
            { 日期: "", Id: 0 },
            { 日期: "審核中", Id: 1 },
            { 日期: "已確認", Id: 2 },
        ];

        $("#jsGrid").jsGrid({
            width: "100%",
            // height: "600px",
     
            inserting: false,
            editing: false,
            sorting: true,
            /*分頁設定*/
            paging: true,
            pagerContainer: null,   //jQueryElement或DomNode指定呈現一個分頁欄，為null時在表格底部。
            pageIndex: 1,   //當前頁面數
            pageSize: 10,   //頁面的數據量
            pageButtonCount: 3,    //最大數量的頁面按鈕
            pagerFormat: "{first} {pages} {last} &nbsp;&nbsp; ", //占位符來指定分頁欄格式
            //pageNextText: "Next",   //下一頁
            //pagePrevText: "Prev",   //上一頁
            pageFirstText: "首頁", //首頁
            pageLastText: "尾頁",   //尾頁
            pageNavigatorNextText: "...",    //最大數量頁面按鈕超出時右邊顯示
            pageNavigatorPrevText: "...",       //最大數量頁面按鈕超出時右邊顯示

            data: website,
            fields: [
                { name: "日期", type: "text", width: 100, validate: "required" },
                { name: "回報狀態", type: "select", items: countries, valueField: "Id", textField: "日期" },
                { name: "網站名稱", type: "text", width: 100 },
                { name: "網址", type: "text", width: 200 },
            ]
        });
        
    </script>
</body>
</html>