   

    <!-- Demo的連結 -->
    <div class="demo"></div>


    <!-- 中間的簡介部分 -->

    <section>

        <img class="logo" src="/img/Logo.png" alt="">

        <div class="quiz_index">

            <h1 class="quiz_title">防詐小測驗<br>
                &emsp;&emsp;測試你對詐騙的敏銳度</h1>

            <div class="quiz_summary">
                <div class="m">
                    <h2>近年來，詐騙事件層出不窮，隨著科技日新月異，詐騙更是不斷翻新手法，讓人防不慎防。<br>不論是身處在網路世界或現實生活中，都可能成為詐騙的受害者。詐騙對象不分年齡與性別，防詐從你我了解手法開始！讓我們一起以遊戲的方式了解近幾年的詐騙手法吧！</h2>
                </div>
                
            </div>    

            <div class="start">

                <button class="game_start"><a href="https://google.com">遊戲開始 <img src="/img/p07_demo/p07_demoGame/dimond.svg" alt=""></a></button>
                
                <div class="button_frame"></div>
                
            </div>


        </div>



    </section>
   





    <!-- foote -->
    <div w3-include-html="./footer.html"></div>
    <!-- w3c 插入 html 的 script 等之後有 vue 可以拿掉 -->
    <script>includeHTML();</script>
</body>
</html>