/*------ 網站使用色系 ------*/
$background_color: #00092E;
$title_color: #D6EEFF;
$main_color: #13E5F2;
$text_color: #FFFFFF;
$sec_color: #033159;
$third_color: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #0F2D3C;
$btn_hover: #0B406D;
$warning_text: #CB4444;
$four_color: #0FB2F2;
/* 後台nav色彩 */
$b_background_color: #F1F1F1;