/*------ 網站使用色系 ------*/
$background_color: #00092e;
$title_color: #d6eeff;
$main_color: #13e5f2;
$text_color: #ffffff;
$sec_color: #033159;
$four_color: #0fb2f2;
$bannerFont_color: #21b3f4;
$third_color: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #0f2d3c;
$btn_hover: #0b406d;
$warning_text: #cb4444;
$four_color: #0FB2F2;

/* 後台nav色彩 */
$b_background_color: #f1f1f1;
