<<<<<<< HEAD
//文字字體
$fontFamily: 'Noto Sans TC', 'Outfit', sans-serif;
//文字基本尺寸
$fontSize: 16px;
//按鈕padding
$btn_small_paddin: 4px 8px;

=======
$btn_small_paddin: 4px 8px;
>>>>>>> c7c242e8db6ab9744a426a131ed60f7eb861eed9
