/*------ jsgrid ------*/
#jsGrid{
    text-align: center;

    td{
        overflow : hidden;
        white-space: nowrap;
        text-overflow:ellipsis;
    }

    .jsgrid-pager,
    .jsgrid-pager a{
        text-decoration: none;
        color: $text_color;
    }

    .jsgrid-pager-current-page{
        text-decoration: none;
        color: $main_color;
    }
}