body{
    background-image: url(../../img/p03_reportURL/bg.png);
    background-repeat: no-repeat;
}
main{
    max-width: 1080px;
    margin: 50px auto;
}
main h1{
    color: var(--text_color);
}
/* ======== 通報表單 ======== */
.active_p03_reportURL{
    display: block;
}
.hide_p03_reportURL{
    display: none;
}
main .form_p03_reportURL{
    /* outline: 1px solid red; */
    max-width: 590px;
    margin: 40px auto;
    border-radius: 10px;
    text-align: center;
    background-color: var(--background_color);
    color: var(--text_color);
    box-shadow: 0px 0px 10px var(--text_color);
}
main .form_p03_reportURL > h6{
    padding: 30px 0 0;
}
main .form_p03_reportURL > p{
    line-height: 2rem;
}
/* 會員 */
main .user_p03_reportURL{
    /* outline: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: end;
    text-align: left;
    margin: 20px 0;
}
main .user_p03_reportURL .userImg{
    /* outline: 1px solid rebeccapurple; */
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--text_color);
    margin-right: 10px;
    box-shadow: 0px 0px 5px var(--text_color);
}
/* input */
main .formInput_p03_reportURL{
    max-width: 450px;
    margin: 0 auto;
    text-align: left;
    position: relative;
}
main .input_p03{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px 0;
}
main .inputSubmit_p03{
    margin: 20px auto;
    width: 100px;
    
}
/* 已通報過的網址跳警告 */
main .formInput_p03_reportURL > .fa-circle-xmark{
    position: absolute;
    right: 10px;
    top: 40px;
    color: var(--warning_text);
}
main .formInput_p03_reportURL > p{
    color: var(--warning_text);
    margin: 0 0 10px;
}
/* ======== 已通報的可疑網站列表 ======== */
main .urlList_p03_reportURL{
    margin: 100px auto;
    text-align: center;
    /* outline: 1px solid red; */
}
main .urlList_p03_reportURL > h2{
    color: var(--text_color);
    margin: 20px 0 40px;
}

/* 手刻 */
/* main .urlList_p03_reportURL > table {
    border: 1px solid var(--text_color);
    border-radius: 10px;
    box-sizing: border-box;
    width: 100%;
    color: var(--text_color);
    background-color: var(--sec_color);
    box-shadow: 0px 0px 5px var(--text_color);
}
main .urlList_p03_reportURL > table thead {
    text-align: center;
}
main .urlList_p03_reportURL > table thead th {
    padding: 10px;
    border-left: 1px solid var(--text_color);
}
main .urlList_p03_reportURL > table tbody td {
    border-left: 1px solid var(--text_color);
    border-top: 1px solid var(--text_color);
    padding: 10px;
}
main .urlList_p03_reportURL .pages{
    color: var(--text_color);
    padding: 40px 0;
} */
/* jsGrid */
#jsGrid {
    color: var(--text_color);
}
#jsGrid .jsgrid-table td,
#jsGrid .jsgrid-table th{
    background-color: var(--background_color);
}