

html,body{
    background-color: var(--background_color);
    font-family: 'Noto Sans TC','Outfit', sans-serif;
}




/* 中間部分 */

.logo{
    display: block;
    margin: 130px auto 40px;
    
}

.quiz_index{
    width: 1154px;
    height: 835px;
    border:1px solid white;
    margin-left: 150px;
    padding-left: 100px;
    
}

.quiz_index .quiz_title{
    color:var(--text_color);
    line-height: 6rem;
    margin-top: 150px;
    font-size:65px;
    margin-bottom: 60px;
    letter-spacing: 1rem;
    
}

section .quiz_summary{
    width:1000px;
    border: 1px solid red;
    height: 200px;

}

section .quiz_summary .m{
    width: 100px;
    border:1px solid white;
    height: 200px;
}

section .quiz_summary h2{
    width: 800px;
    font-size:1.3rem;
    margin-left: 120px;
    color:var(--text_color);
}

section .start{
    margin: 70px 0 240px 450px;
    width: 180px;
    height: 50px;
    border: 1px solid white;
   
    
}

section .game_start {
    clip-path: polygon(0 0, 100% 0, 100% 53%, 84% 100%, 0 100%);
    width: 165px;
    height: 45px;
}

section .game_start a{
    color:var(--sec_color);
    overflow:hidden;
}