body{
    background-color: var(--background_color);
    color: var(--text_color);
    height: 100vh;
}
.demo{
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    text-align: center;
}
.demoBtn{
    display: flex;
    justify-content: space-between;
}
/* ========= 瀏覽器 ===========*/
.browser{
    max-width: 1200px;
    width: 100%;
    border: 1px solid white;
    border-radius: 8px;
    overflow: hidden;
    height: 70vh;
    margin: 20px auto;
}
.browser_top{
    background-color: white;
}
.toolbar_top{
    padding: 0px 20px;
    display: flex;
    align-items: center;
}
.toolbar_top > .circles{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: red;
    box-shadow: 1.5rem 0 0 yellow, 3rem 0 0 green;
    margin-right: 4rem;
}
.toolbar_top > .tab{
    background-color: lightgray;
    color: var(--background_color);
    margin-top: 2px;
    width: 200px;
    border-radius: 10px 10px 0px 0px;
}
.toolbar_down{
    background-color: lightgray;
    display: flex;
    padding: 5px;
}
i{
    color: var(--background_color);
    margin: 10px;
}
.address{
    background-color: white;
    border-radius: 10px;
    flex-grow: 1;
    color: var(--background_color);
}


/* ========= 購物網站 container ===========*/