/*------ 網站使用色系 ------*/
$background_color: #00092e;
$layout_color: #00092eb2;
$title_color: #d6eeff;
$main_color: #13e5f2;
$text_color: #ffffff;
$sec_color: #033159;
$four_color: #0fb2f2;
$bannerFont_color: #21b3f4;
$third_color: #08171e;
$btn_hover: #0b406d;
$warning_text: #cb4444;
$four_color: #0fb2f2;

/* 後台nav色彩 */
$b_background_color: #f1f1f1;
